.blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .blog-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 2rem;
    &:nth-child(odd) {
      padding-right: 1rem;
    }
    &:nth-child(even) {
      padding-left: 1rem;
    }
  }
  .blog-card-img {
    position: relative;
    img {
      width: 100%;
    }
  }
}
