.button {
  /* @apply typography-cta; */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  letter-spacing: 0.02em;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem 0 4rem;
}

.button:not(.small) {
  min-width: 6rem;
  min-height: 3.25rem;
}

.button:not(.small) {
  width: 100%;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
  opacity: 0.9;
}

.button:not([disabled]):focus {
  border-color: #fff;
}


.button[disabled] {
  cursor: default;
  opacity: 0.5;
}
