// global styles
// used for articles on blog and docs
// content only

.post-content,
.docs-body {
  table {
    margin-bottom: 2rem;
    tr {
      text-align: left;
      border-top: 1px solid rgb(204, 204, 204);
      td,
      th {
        border: 1px solid #dbdada;
        padding: 0 10px;
      }
      th:empty {
        border: 0;
      }
    }
  }

  // blockquote
  blockquote {
    padding-left: toRem(43);
    @include fontSize_Medium;
    position: relative;
    margin: 2.5rem 0;
    p {
      color: $ebony;
      font-style: normal;
    }
    &:before {
      content: '';
      border-radius: 10px;
      width: 5px;
      @include gradient_Background_PinkBlue_Reverse;
      height: 100%;
      position: absolute;
      left: toRem(-3);
    }
  }
  strong,
  b {
    font-weight: 600;
  }
  h1 {
    margin-bottom: toRem(42);
  }
  p,
  pre {
    margin-bottom: 2.5rem;
  }
  h2 {
    font-size: toRem(30);
    margin-bottom: toRem(24);
    line-height: toRem(34);
    margin-top: toRem(80);
  }
  h3 {
    margin-bottom: toRem(20);
    font-size: toRem(18);
    line-height: toRem(34);
    @include fontWeight_Semibold;
    margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
  }
  h4 {
    @include fontSize_Medium;
  }
  h5 {
    font-size: toRem(16);
    line-height: toRem(34);
    margin-bottom: 1.7rem;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
    .cp-copy-icon {
      color: white;
      cursor: pointer;
      * {
        pointer-events: none;
      }
    }
    &:hover {
      .cp-copy-icon {
        opacity: 1;
      }
    }
  }
  code {
    @include monospace_Text;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #d8d1ff;
    border: 1px solid #c2bce6;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  pre code {
    @include monospace_Text;
    background-color: $steelGray;
    border-radius: 0.4rem;
    display: inline-block;
    min-width: 100%;
    color: white;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    word-break: break-word;
  }
  a {
    color: $docsPrimaryPurple;
    font-weight: 600;
    border-bottom: 0.125rem solid rgba($moonRaker, 0);
    padding-bottom: 0.1875rem;
    transition: all 0.25s ease;
    &:hover {
      color: $cerise;
    }
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    color: $ebony;
    border-bottom: none;
    padding-bottom: 0;
  }
  .accordion-block {
    margin-left: 2rem;
    .accordion-header-text {
      margin-left: 0.875rem;
    }
    .accordion-content {
      margin-left: 2rem;
    }
  }
  p {
    @include small {
      @include fontSize_Regular;
    }
  }
  img {
    max-width: 100%;
  }

  ul,
  ol {
    margin-bottom: 2rem;
    padding-left: 1.625rem;
    li {
      padding-left: 2rem;
    }
  }
  ul li {
    &::marker {
      content: url("data:image/svg+xml;charset=UTF-8,<svg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.36175 4.97878L4.42561 1.47908e-05L1.65963 1.65958L5.11711 5.80855H4.97877L0 4.97871V8.02129L5.11707 7.05312V7.19146L1.65959 11.3404L4.28727 13L6.22341 7.88293H6.36175L8.29789 13L11.0639 11.3404L7.46809 7.32976V7.19142L12.7235 8.02127V4.97868L7.46809 5.94685V5.80851L11.0639 1.52124L8.29789 0L6.36175 4.97878Z' fill='black'/></svg>");
    }
    ul li {
      &::marker {
        content: url("data:image/svg+xml;charset=UTF-8,<svg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2.27552 3.80487L4.89303 6.94588L1.0822 6.31071L0.5 6.21367V6.8039V9.84649V10.45L1.09295 10.3378L4.97781 9.60274L2.27548 12.8455L1.91029 13.2838L2.3926 13.5884L5.02028 15.2479L5.53816 15.575L5.75492 15.0021L7.29258 10.9382L8.83024 15.0021L9.04201 15.5618L9.55513 15.2539L12.3211 13.5944L12.8404 13.2828L12.4362 12.8319L9.63456 9.707L13.6455 10.3403L14.2235 10.4316V9.84646V6.80388V6.20335L13.6329 6.31215L9.60704 7.05381L12.447 3.66774L12.838 3.20155L12.3048 2.90833L9.53884 1.38708L9.03874 1.11204L8.83188 1.64398L7.36175 5.42443L5.89162 1.64399L5.67674 1.09144L5.16837 1.39646L2.40238 3.05603L1.90178 3.35638L2.27552 3.80487Z' stroke='black'/></svg>");
      }
    }
  }
  hr {
    background: linear-gradient(270deg, #0ab2aa 0%, #4622fc 49.17%, #ff00c4 100%);
    height: 4px;
    border-radius: 2px;
    border: 0;
    margin-bottom: 2.5rem;
  }
}
