// global styles
// used for articles on blog and docs
// content only

.post-content,
.docs-body {
  line-height: 2.125;

  table {
    margin-bottom: 2rem;
    tr {
      text-align: left;
      border-top: 1px solid rgb(204, 204, 204);
      td,
      th {
        border: 1px solid #dbdada;
        padding: 0 10px;
      }
      th:empty {
        border: 0;
      }
    }
  }

  // blockquote
  blockquote {
    padding-left: toRem(43);
    @include fontSize_Medium;
    position: relative;
    margin: 2.5rem 0;
    p {
      color: $ebony;
      font-style: normal;
    }
    &:before {
      content: '';
      border-radius: 10px;
      width: 5px;
      @include gradient_Background_PinkBlue_Reverse;
      height: 100%;
      position: absolute;
      left: toRem(-3);
    }
  }
  strong,
  b {
    font-weight: 600;
  }
  h1 {
    margin-bottom: toRem(42);
  }
  p,
  pre {
    margin-bottom: 2.5rem;
  }
  h2 {
    font-size: toRem(30);
    margin-bottom: toRem(24);
    line-height: toRem(34);
    margin-top: toRem(80);
  }
  h3 {
    margin-bottom: toRem(20);
    font-size: toRem(18);
    line-height: toRem(34);
    @include fontWeight_Semibold;
    margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
  }
  h4 {
    @include fontSize_Medium;
  }
  h5 {
    font-size: toRem(16);
    line-height: toRem(34);
    margin-bottom: 1.7rem;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
    .cp-copy-icon {
      color: white;
      cursor: pointer;
      * {
        pointer-events: none;
      }
    }
    &:hover {
      .cp-copy-icon {
        opacity: 1;
      }
    }
  }
  code {
    @include monospace_Text;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #d8d1ff;
    border: 1px solid #c2bce6;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  pre code {
    @include monospace_Text;
    background-color: $steelGray;
    border-radius: 0.4rem;
    display: inline-block;
    min-width: 100%;
    color: white;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    word-break: break-word;
  }
  a {
    color: $docsPrimaryPurple;
    font-weight: 600;
    border-bottom: 0.125rem solid rgba($moonRaker, 0);
    padding-bottom: 0.1875rem;
    transition: all 0.25s ease;
    &:hover {
      color: $cerise;
    }
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    color: $ebony;
    border-bottom: none;
    padding-bottom: 0;
  }
  .accordion-block {
    margin-left: 2rem;
    .accordion-header-text {
      margin-left: 0.875rem;
    }
    .accordion-content {
      margin-left: 2rem;
    }
  }
  p {
    @include small {
      @include fontSize_Regular;
    }
  }
  img {
    max-width: 100%;
  }

  ul,
  ol {
    @include leading_Regular;
    padding-left: 1.625rem;
    margin-bottom: 2rem;
    li {
      padding-left: toRem(19);
    }
    ul {
      margin-top: 0.25rem;
    }
  }
  ul li {
    &::marker {
      content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.89365 3.82983L3.40432 1.13775e-05L1.27664 1.2766L3.93624 4.46812H3.82982L0 3.82978V6.17022L3.93621 5.42548V5.53189L1.27661 8.72341L3.2979 10L4.78724 6.06379H4.89365L6.38299 10L8.51067 8.72341L5.74469 5.63828V5.53186L9.78728 6.1702V3.82976L5.74469 4.5745V4.46809L8.51067 1.17019L6.38299 0L4.89365 3.82983Z' fill='%234622FC'/%3E%3C/svg%3E%0A");
    }
    ul {
      padding-left: 0.25rem;
      li {
        &::marker {
          content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.78125' cy='2.83301' r='2.5' fill='%2303040A'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  hr {
    background: linear-gradient(270deg, #0ab2aa 0%, #4622fc 49.17%, #ff00c4 100%);
    height: 4px;
    border-radius: 2px;
    border: 0;
    margin-bottom: 2.5rem;
  }
}
