@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================================================================
   Fonts
   ================================================================================ */

@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/space-grotesk/space-grotesk-regular.woff2") format("woff2");
    src: url("/fonts/space-grotesk/space-grotesk-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/space-grotesk/space-grotesk-medium.woff2") format("woff2");
    src: url("/fonts/space-grotesk/space-grotesk-medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/open-sans/open-sans.woff2") format("woff2");
    src: url("/fonts/open-sans/open-sans.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/open-sans/open-sans-semi-bold.woff2") format("woff2");
    src: url("/fonts/open-sans/open-sans-semi-bold.woff") format("woff");
    font-display: swap;
}

/* ================================================================================
   Typography
   ================================================================================ */

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: normal;
}

.typography-hero-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 5rem;
  letter-spacing: normal;
  font-weight: 500;
  line-height: 7rem;
}

.typography-hero-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
}

.typography-section-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.25rem;
  letter-spacing: normal;
}

.typography-body-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.375rem;
  letter-spacing: normal;
}

.typography-cta {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  letter-spacing: 0.02em;
}

h1 {
  @apply typography-hero-title;
}

h2 {
  @apply typography-section-title;
}

h3 {
  @apply typography-body-title;
  @apply font-medium;
}

html, body, #__next {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875em;
  letter-spacing: 0.02em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
