@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================================================================
   Fonts
   ================================================================================ */

@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/space-grotesk/space-grotesk-regular.woff2") format("woff2");
    src: url("/fonts/space-grotesk/space-grotesk-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/space-grotesk/space-grotesk-medium.woff2") format("woff2");
    src: url("/fonts/space-grotesk/space-grotesk-medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/open-sans/open-sans.woff2") format("woff2");
    src: url("/fonts/open-sans/open-sans.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/open-sans/open-sans-semi-bold.woff2") format("woff2");
    src: url("/fonts/open-sans/open-sans-semi-bold.woff") format("woff");
    font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/space-mono/space-mono-regular.woff2") format("woff2");
  src: url("/fonts/space-mono/space-mono-regular.woff") format("woff");
  font-display: swap;
}

/* ================================================================================
   Typography
   ================================================================================ */

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: normal;
}

.typography-hero-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: 500;
  line-height: 1.4em;
}

.typography-hero-subtitle {
  letter-spacing: 0.02em;
}

.typography-section-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.395em;
}

.typography-body-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.625rem;
  letter-spacing: normal;
}

.typography-body-subtitle {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  letter-spacing: normal;
}

.typography-cta {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  letter-spacing: 0.02em;
}

@screen md {
  .typography-hero-title {
    font-size: 3.6rem;
  }

  .typography-section-title {
    font-size: 2.375rem;
  }
}

@screen lg {
  .typography-hero-title {
    font-size: 5rem;
  }
}

h1 {
  @apply typography-hero-title;
}

h2 {
  @apply typography-section-title;
}

h3 {
  @apply typography-body-title;
  @apply font-bold;
}

h4 {
  @apply typography-body-subtitle;
  @apply font-bold;
}

html, body {
  height: 100%;
}

body {
  @apply antialiased;

  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875em;
  letter-spacing: 0.02em;
}

/* ================================================================================
   Layout
   ================================================================================ */

.layout-margins {
  @apply mx-8;
}

@screen md {
  .layout-margins {
      margin-left: 4%;
      margin-right: 4%;
  }

  .md\:layout-margins {
    @apply mx-8;
  }
}

/* 1440 max width + 58px left & right padding */
@media only screen and (min-width: 1680px) {
  .layout-margins,
  .md\:layout-margins {
      @apply max-w-screen-2xl mx-auto;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-tooltip.rc-tooltip {
  opacity: 1;
}

.table-tooltip .rc-tooltip-content {
  position: relative;
  bottom: 4px;
}

.table-tooltip .rc-tooltip-content .rc-tooltip-arrow {
  border-top-color: #fc6553;
}

@keyframes appear-bottom-then-go-away {
  from   { opacity: 1; transform: translateY(100%)  }
  20%    { opacity: 1; transform: translateY(0)     }
  80%    { opacity: 1; transform: translateY(0)     }
  100%   { opacity: 0; transform: translateY(100%)  }
}

.appear-bottom-then-go-away {
  animation: appear-bottom-then-go-away 3s ease-in-out both;
}

@keyframes grow-width {
  from   { width: 0  }
}

.grow-width {
  animation: grow-width 1s ease-in-out both;
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a {
  text-decoration: none;
}
