// /////////////////////////////////////////////////////// Accordion [Accordion]
// -----------------------------------------------------------------------------
.accordion-control-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}

// ///////////////////////////////////////////////////////// Accordion [Section]
// -----------------------------------------------------------------------------
.accordion-section {
  position: relative;
  overflow: hidden;
}

// ////////////////////////////////////////////////////////// Accordion [Header]
// -----------------------------------------------------------------------------
.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
// ///////////////////////////////////////////////////////// Accordion [Content]
// -----------------------------------------------------------------------------
.accordion-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
}

.accordion-section.open .accordion-content {
  max-height: 100vh;
  padding: 1em;
}
