.accordion-control-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}

.accordion-section {
  position: relative;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}

.accordion-content {
  position: relative;
  transition: height 150ms ease-in-out;
  &.measuring-content {
    position: absolute;
    visibility: hidden;
    z-index: -1000px;
  }
}
