
@import url(https://weloveiconfonts.com/api/?family=fontawesome);
@import 'spinner.css';


/************************************
 * Shared between pages
 ************************************/

:root {
  --main-accent-color: rgba(252,101,83,1);
  --link-color: rgba(23,22,145, 1);
  --curent-page-nav-highlight-color: white;
  --main-text-color: #2c3e50;
  --page-bg-color: rgba(255,242,236,1);
  --button-text-color: white;
  --popup-message-bg-color: rgba(23,22,145, 1);
  --popup-message-text-color: white;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  padding: 5px;
}

/* apply to hide an element, remove to show */
.hidden {
  display: none;
}

body {
  font-size: 16px;
  font-family: -apple-system, system-ui;
  padding: 0;
  margin: 0;

  color: var(--main-text-color);
  background-color: var(--page-bg-color);
}

header {
  min-width: 100vw;
  background-color: var(--main-accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.spacer {
  flex-grow: 1;
}

nav {
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}



.nav-current-page {
  color: var(--curent-page-nav-highlight-color);
}

form {
  max-width: 500px;
  padding: 16px;
  display: block;
  margin: 0 auto;
}

input {
  min-width: 90%;
  min-height: 28px;
}

button {
  background-color: var(--main-accent-color);
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

button:hover {
  filter: brightness(1.2);
}

button:disabled {
  filter: brightness(0.85);
}

label {
  display: block;
  padding: 32px 0 8px;
  font-weight: 700;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/************************************
 * Upload page
 ************************************/

#welcome-message {
  max-width: 600px;
  margin: 40px;
}

#inputs {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}


#upload-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-in-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-in-progress.hidden {
  display: none;
}

#upload-success {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#upload-success.hidden {
  display: none;
}

#success-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#output {
  padding: 16px;
  margin-top: auto;
  font-family: Courier New, ui-monospace, monospace;
  font-weight: 500;
  line-height: 1.6;
  min-height: 200px;
  width: 100%;
  overflow-y: scroll;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  max-width: 550px;
  font-family: sans-serif;
  padding: 20px;
  margin: 40px;
}

#drop-area.highlight {
  border-color: var(--main-accent-color);
}

.select-button {
  display: inline-block;
  padding: 10px;
  background: var(--main-accent-color);
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.select-button:hover {
  filter: brightness(1.2);
}

#upload-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

.preview-image {
  max-height: 60vh;
  max-width: 800px;
}

#success-links {
  margin: 30px;
}

/************************************
 * Gallery page
 ************************************/

#gallery-ui {
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery-image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gallery-image-card img {
  max-height: 600px;
  max-width: 90%;
}

.gallery-image-caption {
  font-size: larger;
  font-weight: bold;
  padding: 10px;
}

.share-link {
  text-decoration: none;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  max-width: 800px;
}

#carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  flex-grow: 1;
  cursor: default;
}

#carousel.hidden {
  display: none;
}

.glide__track {
  cursor: grab;
}

.glide__track:active {
  cursor: grabbing;
}

.gallery-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  margin: 30px;
}

#gallery-controls-wrapper {
  display: flex;
}

/************************************
 * Settings page
 ************************************/

#token-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#token-form {
  display: flex;
  flex-direction: column;
}

#about-message {
  max-width: 500px;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--popup-message-bg-color);
  color: var(--popup-message-text-color);
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}