@use 'sass:math';

// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------
.page-about {
  position: relative;
  .heading {
    @include mini {
      @include fontSize_Large;
      line-height: leading(45, 35);
    }
  }
}

#about_section_1 {
  position: relative;
  z-index: 1;
  padding-bottom: 5rem;
  @include selection_Light;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: calc(5rem + 2px);
    background-color: $ebony;
  }

  .gradient-background-component {
    &.light {
      width: calc(100% + 2rem);
      height: calc(100% + 2 * $navigationHeight + 12rem);
      top: calc(-1 * $navigationHeight - 11rem);
      left: -1rem;
    }
    .light-variant {
      @include mini {
        img {
          transform: rotate(90deg) translateX(-30%) scaleX(2) scaleY(-1);
        }
      }
    }
  }
}

#about_section_2 {
  position: relative;
  z-index: 1;
  @include background_Dark;
  color: white;
  padding-top: 0;
  @include ultraLarge {
    padding-bottom: 10rem;
  }
  @include xlarge {
    padding-bottom: 5rem;
  }
}

#about_section_3 {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 12rem;
    transform: translateY(-100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1365' height='172.072' viewBox='0 0 1365 172.072'%3e%3cpath id='Subtraction_1' data-name='Subtraction 1' d='M1365.5,1490.379H.5V1318.307c2.18,1.03,14.117,6.583,35.282,14.638,11.943,4.545,24.781,9.111,38.157,13.571,16.412,5.472,33.757,10.822,51.551,15.9,44.637,12.743,92.561,23.944,142.44,33.292,29.392,5.508,59.829,10.432,90.465,14.635,33.579,4.607,68.238,8.462,103.013,11.458,23.225,2,46.631,3.5,69.567,4.453,21.313.886,43.042,1.336,64.586,1.336,34.14,0,69.483-1.111,108.051-3.4,35.709-2.115,71.444-5.084,100.157-7.47l4.085-.339.018,0c31.282-2.6,63.629-5.288,95.834-7.255,17.318-1.057,33.294-1.833,48.84-2.372,17.419-.6,33.881-.9,50.327-.9,32.485,0,63.635,1.157,95.23,3.537,16.949,1.277,34.216,2.934,51.319,4.926,17.863,2.08,36.168,4.6,54.408,7.478,29.029,4.588,57.861,10.31,85.7,17.008,25.788,6.206,51.349,13.4,75.973,21.383v30.184h0Z' transform='translate(-0.5 -1318.307)' fill='%23f1f1f1'/%3e%3c/svg%3e ");
    @include ultraLarge {
      display: block;
      height: 20rem;
    }
    @include xlarge {
      height: 12rem;
    }
    @include small {
      transform: scaleX(2) translateX(-25%) translateY(-100%);
    }
  }
}

// /////////////////////////////////////////////////////////////// [Subsections]
// -----------------------------------------------------------------------------

// -------------------------------------------------------------- Section [Hero]
#about_hero-header {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 15rem;
  z-index: 1;
  .heading {
    @include h1;
    line-height: leading(55, 45);
    @include mini {
      @include fontSize_Large;
      line-height: leading(45, 35);
    }
  }
  .subheading {
    @include fontSize_Regular;
    @include fontWeight_Regular;
    line-height: leading(34, 20);
    margin-bottom: 1.25rem;
  }
  @include ultraLarge {
    padding-bottom: 12rem;
  }
  @include medium {
    padding-top: 5rem;
  }
  @include small {
    padding-top: 0;
  }
  @include mini {
    padding-bottom: 7rem;
  }
  &:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 12rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0 bottom 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1636.34' height='122.322' viewBox='0 0 1636.34 122.322'%3e%3cdefs%3e%3cclipPath id='clip-path'%3e%3crect width='1636.34' height='122.322' fill='none'/%3e%3c/clipPath%3e%3c/defs%3e%3cg id='Scroll_Group_1' data-name='Scroll Group 1' clip-path='url(%23clip-path)' style='isolation: isolate'%3e%3cg id='Group_1914' data-name='Group 1914'%3e%3cpath id='Path_18835' data-name='Path 18835' d='M-16101,11198.438v1055.932s338.735-28.635,512.177,140.625,36.063,416.637,329.8,625.462,792.163,107.167,792.163,107.167l2.2-1929.186s-388.361-117.4-797.447-117.4S-16101,11198.438-16101,11198.438Z' transform='translate(16101 -11081.04)' fill='%2303040a'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
    @include ultraLarge {
      display: block;
    }
    @include mini {
      transform: scaleX(1.5) translateX(12.5%);
    }
  }
}

#about_hero-xcluster {
  display: none;
  position: absolute;
  top: 2rem;
  width: 27.125rem;
  left: calc(50% - #{math.div($containerWidth, 2)} - 2.5rem);
  @include medium {
    width: 24rem;
    top: 3rem;
    left: calc(50% - #{math.div($containerWidth, 2)} + 4rem);
  }
  @include small {
    width: 20rem;
    left: calc(50% - #{math.div($containerWidth, 2)} + 4rem);
  }
  @include mini {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
}
// ------------------------------------------------------ Section [Architecture]
#section_architecture-1 {
  position: relative;
  padding-bottom: 0;
  .text-block {
    position: relative;
  }
  .image-block {
    margin: 2.5rem 0;
  }
}

#about_section_architecture-corkscrew {
  position: absolute;
  width: 32rem;
  top: -12rem;
  right: -2rem;
  transform: rotate(29deg);
  @include xlarge {
    right: calc(50% - #{math.div($containerWidth, 2)} - 16rem);
  }
  @include small {
    width: 16rem;
    right: -2rem;
  }
}

#architecture-blurred-background {
  position: absolute;
  top: 0;
  width: 2112px;
  margin: auto;
  left: -9999px;
  right: -9999px;
  transform: translate(-7rem, -5rem) rotate(6deg);
  opacity: 0.25;
  filter: blur(40px);
}

#section_architecture-2 {
  position: relative;
  z-index: 1;
  padding-bottom: 8rem;
  .column-1 {
    padding-top: 5rem;
    @include small {
      display: none;
    }
  }
  .column-3 {
    display: none;
    @include small {
      display: block;
    }
  }
  .text-block {
    .heading {
      @include fontSize_MediumLarge;
      line-height: leading(40, 25);
    }
  }
  .image-block {
    margin-bottom: 1rem;
  }
}

#section_architecture-2-helix,
#section_architecture-2-helix-small {
  position: absolute;
  width: 13.25rem;
  top: 0rem;
  left: calc(50% - #{math.div($containerWidth, 2)} - 8rem);
  transform: rotate(-79deg);
}

#section_architecture-2-helix {
  @include small {
    display: none;
  }
}

#section_architecture-2-helix-small {
  @include small {
    width: 8rem;
    left: 0;
    top: -3rem;
  }
  @include mini {
    display: none;
  }
}

#section_architecture-2-cross {
  position: absolute;
  width: 3rem;
  top: 2rem;
  right: calc(50% - #{math.div($containerWidth, 2)});
  @include containerMaxMQ {
    right: 0;
  }
}

#section_architecture-image-files {
  width: calc(100% + 5rem);
  transform: translateX(-5rem);
}

#section_architecture-image-upload,
#section_architecture-image-storage {
  position: relative;
  margin-left: auto;
  width: 80%;
  right: 0;
}
#section_architecture-image-files,
#section_architecture-image-upload,
#section_architecture-image-storage {
  @include small {
    width: 100%;
    transform: unset;
    right: unset;
  }
}

// ------------------------------------------------------ Section [How it Works]
#section_how-it-works {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #f1f1f1;
  @include gradient_Text_Selection;

  .heading {
    @include fontSize_Large;
    line-height: leading(50, 35);
    margin-bottom: 2.25rem;
  }
  .how-it-works-highlight {
    color: #3c3cd6;
    @include fontWeight_Semibold;
  }
  .column-2 {
    .heading {
      @include fontSize_MediumLarge;
      @include gradient_Text;
      margin-bottom: 1rem;
    }
  }
}

#how-it-works-accordion {
  padding: 0;
}
