.button {
  cursor: pointer;
  display: inline-block;
  @include borderRadius_Huge;
  @include fontSize_Tiny;
  @include fontWeight_Semibold;
  text-transform: uppercase;
  line-height: 1;

  &[disabled] {
    cursor: default;
  }

  button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 2rem;
    padding: 0.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include fontWeight_Semibold;
    line-height: inherit;

    &:active,
    &:hover,
    &:focus {
      background: transparent;
    }
  }

  &.dark {
    background-color: $ebony;
    button {
      color: white;
    }
  }

  &.light {
    background-color: white;
    button {
      color: $ebony;
    }
  }

  &.purple {
    background-color: $malibu;
    button {
      color: $ebony;
    }
  }

  &.text-purple {
    background-color: unset;
    padding-left: 0;
    position: relative;
    button {
      color: $malibu;
      @include fontSize_Small;
      @include fontWeight_Semibold;
      padding-left: 0;
    }
    &:after {
      content: '➔';
      position: absolute;
      right: -0.75rem;
      top: 50%;
      transform: translateY(-50%);
      color: $malibu;
      @include fontSize_Small;
      @include fontWeight_Semibold;
    }
  }

  &.blue {
    background-color: unset;
    padding-left: 0;
    button {
      color: #3d04fb;
      @include fontWeight_Semibold;
      padding-left: 0;
    }
  }

  &.pink-blue {
    position: relative;

    &:before,
    &:after {
      @include borderRadius_Huge;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:before {
      @include gradient_BlurryBox_PinkBlue;
    }

    &:after {
      border: 0.0625rem solid $alto;
      background: $charade;
      opacity: 0.6;
      @include shadow4;
    }

    button {
      @include fontWeight_Regular;
      position: relative;
      z-index: 1;
    }
  }

  &.text {
    line-height: 0;
    color: $cyan;
    text-transform: none;

    button {
      @include fontWeight_Regular;
    }
  }

  &.outline {
    box-sizing: border-box;
    background-color: unset;
    border: solid 2px $ebony;

    &-dark,
    &-light {
      @include borderRadius_Huge;

      button {
        @include fontWeight_Regular;
      }
    }

    &-dark {
      color: $black;
      border: 0.0625rem solid $black;
    }
    &-light {
      color: $white;
      border: 0.0625rem solid $white;
    }
  }
}
