// @import '../../styles/global';

.button {
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }

  button {
    background: transparent;
    border: none;
    width: 100%;
    display: flex;

    &:active, &:hover, &:focus {
      background: transparent;
    }
  }

  &.dark {
    border: 1px solid transparent;
    background-color: black;

    button {
      color: #fff;
    }
  }

  &.light {
    border: 1px solid transparent;
    background: #fff;

    button {
      color: #171691;
    }
  }

  &.purple {
    border: 2px solid #171691;
    background: transparent;

    button {
      color: #171691;
    }
  }
}
