.storage-manager-container {
  display: flex;
  flex-direction: column;
  position: relative;
  > * {
    width: 100%;
  }
  padding: 1.5rem 2rem 2rem;

  > div:last-child {
    margin-bottom: auto;
  }
}

.storage-manager-payment-link {
  font-size: 14px;
  margin-bottom: auto;
  text-align: right;
  color: $moonRaker;
  line-height: 1.5;
  &:hover {
    text-decoration: underline;
  }
}

.storage-manager-info,
.storage-manager-space {
  display: flex;
  align-items: center;
}

.storage-manager-space {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.325rem;
  @include medium {
    margin-bottom: 0.4375rem;
  }
  .button {
    height: auto;
    line-height: 1;
    button {
      @include hoverArrowRight;
      display: inline-block;
    }
  }
}

.storage-manager-info {
  @include fontSize_Tiny;
  @include fontWeight_Regular;
  .storage-manager__storage-request-button {
    @include hoverTextLinkColor;
  }
  margin-top: 1.5625rem;
  @include medium {
    @include leading_Small;
    button a {
      &::after {
        margin-left: 0.625rem;
        content: 'â¯';
      }
    }
  }
}

// Mobile override after
.storage-manager-info,
.storage-manager-space {
  @include medium {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;

    button {
      padding-left: 0;
    }
  }
}

.storage-manager-meter-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: $white;
  width: 100%;
  gap: 1.1875rem;
  padding-right: 0;
  @include medium {
    gap: 0.78125rem;
  }

  .button {
    padding: 0;
    height: auto;
    svg {
      margin-right: 0.4375rem;
      @include hoverSvg;
    }
    button {
      @include fontSize_Atom;
      @include fontWeight_Regular;
      padding: 0;
      min-height: auto;
      width: auto;
      > span {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
  @include medium {
    display: block;
    padding-right: 0;
    position: relative;
    .button {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(calc(-100% - 0.625rem));
    }
  }
}

.storage-manager-meter {
  @include borderRadius_UltraLarge;
  display: flex;
  align-items: center;
  position: relative;
  height: 1.75rem;
  background: rgba($vulcan, 0.15);
  // border: 0.078125rem solid rgba($waterloo, 0.15);
  flex: 1;
  overflow: hidden;
  z-index: 1;
  &:only-child {
    flex: 1;
    max-width: 44.375rem;
  }
  span {
    @include fontSize_Atom;
    position: absolute;
    right: 0.9375rem;
    text-shadow: 0 0 0.15625rem rgba(0, 0, 0, 0.94);
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    border: 0.0625rem solid rgba($waterloo, 0.15);
    box-sizing: border-box;
  }
}

.storage-manager-used {
  margin-bottom: 0.625rem;
  .storage-heading {
    display: inline;
    @include fontWeight_Semibold;
    @include fontSize_Medium;
    line-height: 35px;
  }
  .storage-number {
    font-style: italic;
  }
  .Tooltip {
    margin-left: 5px;
    font-size: 10px; // The size of the svg icon.
    vertical-align: super;
  }
}

.storage-manager-meter-uploaded,
.storage-manager-meter-pinned {
  position: absolute;
  z-index: 10;
  @include borderRadius_UltraLarge;
  height: 100%;
  top: 0;
  left: 0;
  transition: 250ms ease-out;
  filter: drop-shadow(0 2px 8px rgba(#210f55, 0.33));
}

.storage-manager-meter-uploaded {
  background: linear-gradient(45deg, #275fdc 0%, #0fb1fd 25%, #275fdc 50%, #0fb1fd 75%, #275fdc 100%);
  background-size: 410%;
  background-position: 50% 0;
}

.storage-manager-meter-pinned {
  background: linear-gradient(45deg, #8722ff 0%, #ca46ff 25%, #8722ff 50%, #ca46ff 75%, #8722ff 100%);
  background-size: 410%;
  background-position: 50% 0;
}

.storage-manager-legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;

  &.no-margin {
    margin: 0;
  }

  @include small {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .sml-uploaded,
  .sml-pinned {
    position: relative;
    margin: 0 2rem;
    @include fontSize_Tiny;
    line-height: leading(20, 13);
    .legend-label {
      @include fontWeight_Semibold;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.8125rem;
      width: 0.9375rem;
      height: 0.9375rem;
      transform: translateY(-50%);
      border-radius: 50%;
    }
    @include small {
      margin: 0.3125rem 2rem;
    }
  }
  .sml-uploaded {
    &:before {
      background: linear-gradient(90deg, #275fdc 0%, #0fb1fd 100%);
    }
  }
  .sml-pinned {
    &:before {
      background: linear-gradient(90deg, #8722ff 0%, #ca46ff 100%);
    }
  }
}
