.storage-manager-container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }

  padding: 1.25rem 0 0.1rem 2.25rem;
}

.storage-manager-info,
.storage-manager-space {
  display: flex;
  padding-left: 0.5625rem;
  padding-right: 3.15rem;
  align-items: center;
}

.storage-manager-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.325rem;
}

.storage-manager-info {
  @include fontSize_Tiny;
  @include fontWeight_Regular;
  .button {
    padding: 0;
    padding-left: 0.65rem;
  }
  margin-top: 1.25rem;
}

.storage-manager-meter-container {
  display: flex;
  position: relative;
  color: $white;
  width: 100%;
  gap: 0.95rem;

  .button {
    padding: 0;

    svg {
      margin-right: 0.35rem;
    }

    button {
      @include fontSize_Atom;
      @include fontWeight_Regular;
      padding: 0;
      min-height: auto;
      width: auto;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.storage-manager-meter {
  @include borderRadius_UltraLarge;
  display: flex;
  align-items: center;
  position: relative;
  height: 1.375rem;
  background: rgba($vulcan, 0.15);
  border: 0.0625rem solid rgba($waterloo, 0.15);
  width: 32.6875rem;

  span {
    @include fontSize_Atom;
    position: absolute;
    right: 0.75rem;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.94);
  }
}

.storage-manager-meter-used {
  @include gradient_Background_BluePurple;
  @include borderRadius_UltraLarge;
  height: 1.5rem;
  top: 0;
  left: 0;
}
