.token-creator-container {
  color: $cyan;
  .focused {
    animation: scaleYoyoIn $transitionDuration ease-in-out;
  }
  .unfocused {
    animation: scaleFadeOut $transitionDuration ease-out;
  }

  @include fontSize_Mini;
  @include medium {
    width: 100%;
    .button {
      width: 100%;
      button {
        align-items: end;
      }
    }
  }
}

@keyframes scaleYoyoIn {
  0% {
    transform: scaleX(1);
    opacity: 0;
  }
  25% {
    transform: scaleX(1);
    opacity: 0;
  }
  50% {
    transform: scaleX(1.05);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scaleFadeOut {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1.05);
    opacity: 0;
  }
}

.token-creator-input {
  transition: all $transitionDurationLong ease-in-out;
  text-decoration: none;
  outline: none;
  min-width: 28.25rem;
  height: 3rem;
  padding: 0 3.125rem 0 1.25rem;
  color: $cyan;

  @include border_Background_Waterloo_White;
  @include medium {
    width: 100%;
    min-width: 0;
  }
  &:focus {
    border-color: $seaShell;
  }

  &::placeholder {
    color: $cyan;
    @include fontSize_Mini;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder {
    color: $cyan;
    opacity: 0.8;
  }
}

.token-creator-input-container {
  position: relative;
}

.token-creator-submit {
  position: absolute;
  right: 1.25rem;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  @include fontSize_MediumLarge;
  @include hoverScale;
  .token-creator-check {
    padding: 0.5rem 0;
    width: 1.875rem;
    transform: translate(3.75px, 1.25px);
    path {
      stroke-width: 0.9375rem;
    }
  }
}
