.tokens-manager-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;
  justify-content: flex-start;
  padding: 1.6875rem 0 1.6875rem 1.6875rem;
  width: 100%;

  @include medium {
    background: transparent;
    border: 0;
    padding: 0;
  }

  > * {
    width: 100%;
    padding-left: 1.265625rem;

    @include medium {
      padding-left: 0;
    }
    &:not(.delete-modal),
    &:not(.tokens-manager-footer) {
      max-width: 59.4140625rem;
      @include medium {
        max-width: none;
      }
    }
  }

  > h4 {
    margin-bottom: 1.125rem;
  }
}

.tokens-manager-header {
  display: flex;
  padding-bottom: 0.84375rem;
  align-items: center;
  padding-right: 1.6875rem;
  flex-wrap: wrap;

  @include medium {
    padding-bottom: 1.828125rem;
    padding-right: 0;
    justify-content: space-between;
  }

  // Title
  > :first-child {
    margin-right: 8.859375rem;
    @include medium {
      margin-left: 1.125rem;
      margin-right: 0;
    }
  }

  .Filterable {
    margin-right: 4.21875rem;
    @include medium {
      flex-basis: 100%;
      margin-top: 4.5rem;
      order: 3;
      margin-right: 0;
    }
  }

  .Sortable {
    @include medium {
      margin-right: 1.125rem;
    }
  }
}

.tokens-manager-table-content {
  min-height: 23.90625rem;

  @include medium {
    min-height: auto;
  }

  .tokens-manager-upload-cta {
    position: relative;
    top: 1.40625rem;
    left: 0.28125rem;
  }

  .token-id {
    @include monospace_Text;
  }

  .token-name {
    line-height: 1.5;
    padding: 0.5625rem 1.125rem 0.5625rem 0;
    word-break: break-word;
    @include medium {
      padding: 0.984375rem 4.5rem 0.984375rem 1.546875rem;
    }
  }

  @include medium {
    .token-name {
      padding-top: 1.546875rem;
    }
    .token-id-container {
      display: flex;
      padding-bottom: 1.546875rem;
      .token-id {
        word-break: break-all;
        @include leading_Tiny;
      }
    }
  }

  .button {
    button {
      @include fontSize_Medium;
      padding-left: 0;
    }
  }
}

.tokens-manager-result-dropdown .dropdownContent {
  right: -0.84375rem;
}

.tokens-manager-loading-spinner {
  width: 100%;
  padding: 0;
  padding-top: 2.25rem;
}

.tokens-manager-footer {
  display: flex;
  justify-content: space-between;
  padding-right: 4.640625rem;
  flex-wrap: wrap;
  &:before {
    content: '';
  }
  @include medium {
    padding-right: 1.125rem;
    .Pagination {
      flex-basis: 100%;
      order: 2;
      .pageList {
        justify-content: center;
      }
    }
  }
}
