$base-row-width: 52.8125rem;
$date-name: calculateWidthPercentage(17rem, $base-row-width);
$date-id: calculateWidthPercentage(32rem, $base-row-width);
$date-copy: calculateWidthPercentage(3rem, $base-row-width);
$date-delete: auto;

.tokens-manager-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;
  justify-content: flex-start;
  padding: 1.5rem;
  min-width: 60.25rem;

  > * {
    width: 100%;
    padding-left: 1.125rem;
    max-width: 52.8125rem;
  }

  > h4 {
    margin-bottom: 1rem;
  }
}

.tokens-manager-header {
  display: flex;
}

.tokens-manager-table-content {
  padding-top: 1.25rem;
  min-height: 21.25rem;

  .button {
    @include fontSize_Medium;
    padding-left: 0;
  }
}

.tokens-manager-loading-spinner {
  width: 100%;
  padding: 0;
  padding-top: 2em;
}


.tokens-manager-footer {
  &:before {
    content: '';
  }
}

.tokens-manager-header,
.tokens-manager-footer {
  .Dropdown .dropdownContent .dropdownItemList {
    background-color: black;
  }
}
