// $mobileActiveText: #7E81FF;
// $borderColor: #dbdada;
// $breakpoint: 997px;
// $sidenavBg: #1C1E29;
$gradient_PinkBlue_Reverse: linear-gradient(45deg, $pictonBlue 0%, $royalBlue 48%, $cerise 100%);

@mixin gradient_Background_PinkBlue_Reverse {
  background: $gradient_PinkBlue_Reverse;
}

.docs-site {
  background-image: url('../../assets/images/corkscrewBlurred.jpg');
  background-repeat: repeat;
  background-size: cover;
  &:before {
    background-image: url('../../assets/images/helix.png');
    background-size: cover;
    height: 18rem;
    left: -3.5rem;
    top: -2.5rem;
    transform: rotate(-95deg);
    width: 18rem;
    content: '';
    position: fixed;
  }
  // blockquote
  blockquote {
    padding-left: toRem(43);
    @include fontSize_Medium;
    position: relative;
    margin: 2.5rem 0;
    p {
      color: $ebony;
      font-style: normal;
    }
    &:before {
      content: '';
      border-radius: 10px;
      width: 5px;
      @include gradient_Background_PinkBlue_Reverse;
      height: 100%;
      position: absolute;
      left: toRem(-3);
    }
  }
}

.nextra-container {
  letter-spacing: 0;
  strong,
  b {
    font-weight: 600;
  }
  h1 {
    margin-bottom: toRem(42);
  }
  .text-gray-600 {
    color: $ebony;
  }
  p,
  pre {
    margin-bottom: 2.5rem;
  }
  h2 {
    font-size: toRem(30);
    margin-bottom: toRem(24);
    line-height: toRem(34);
    margin-top: toRem(80);
  }
  h3 {
    margin-bottom: toRem(20);
    font-size: toRem(18);
    line-height: toRem(34);
    @include fontWeight_Semibold;
    margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
  }
  h4 {
    @include fontSize_Medium;
  }
  h5 {
    font-size: toRem(16);
    line-height: toRem(34);
    margin-bottom: 1.7rem;
  }

  > nav {
    display: none !important;
  }
  // callout box
  .callout {
    background-color: $white;
    color: $ebony;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 3.75rem;
    position: relative;
    padding: toRem(23) toRem(37);
    .select-none {
      display: none;
    }
    h5 {
      margin-bottom: 8px;
      margin-top: 0;
      font-size: 1.125rem;
      text-transform: none;
      line-height: 1;
      &:before {
        display: inline-block;
        background-repeat: no-repeat;
        height: 30px;
        width: 24px;
        vertical-align: middle;
        margin-right: 1.25rem;
        content: '';
        background-size: cover;
        background-image: url('../../assets/icons/bulb.png');
      }
    }
    // warning
    &.bg-yellow-200 {
      h5:before {
        height: 23.5px;
        width: 25.5px;
        background-image: url('../../assets/icons/caution.png');
      }
    }
    *:last-child {
      margin: 0;
    }
    &:before {
      content: '';
      border-radius: 10px;
      width: 5px;
      @include gradient_Background_PinkBlue_Reverse;
      height: 100%;
      position: absolute;
      left: calc(5px * -1);
      top: 0;
    }
  }
  // left side
  aside.bg-white {
    --tw-bg-opacity: transparent;
    top: 19rem !important;
    height: calc(100vh - 19rem) !important;
    width: 19rem;
  }
  // right side
  .docs-container {
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    border-radius: 0.375rem;
    padding: 4.6875rem 0 4.6875rem 4.6875rem;
    background-color: hsla(0, 0%, 95%, 0.6);
    &:before {
      background-image: url('../../assets/images/triangle1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 72px;
      right: 2rem;
      top: -40px;
      width: 72px;
      content: '';
      position: absolute;
    }
    // content
    > main {
      max-width: 100%;
      padding: 1rem;
    }
    // tos
    > div {
      padding: 1rem;
      flex-shrink: 0;
      width: 18.75rem;
      ul.sticky:not(:empty) {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0 3px 15px rgb(0 0 0 / 16%);
        padding: 1.25rem 1.5625rem 1.25rem 1.875rem;
        a {
          font-weight: 500;
          font-size: toRem(13);
        }
        li {
          font-size: 0.8125rem;
          line-height: 1.375rem;
          padding: 0.1875rem 0;
        }
      }
    }
  }
  footer hr {
    display: none;
  }
}

// table {
//   td {
//     min-width: toRem(150);
//     line-height: 1.4;
//     &:last-child {
//       width: 100%;
//     }
//   }
// }

// .container {
//   .row {
//     flex-wrap: nowrap;
//     .col {
//       width: 50vw;
//       @media (max-width: 1300px) {
//         width: 48vw;
//       }
//       @media (max-width: 1200px) {
//         width: 44vw;
//       }
//       @media (max-width: 1100px) {
//         width: 40vw;
//       }
//       &.col--3 {
//         flex-shrink: 0 !important;
//         width: toRem(300) !important;
//       }
//     }
//   }
// }

// // position anchor lower so it stops on top of page
// a.anchor {
//   display: block;
//   position: relative;
//   top: 180px;
//   @include mobile {
//     top: 230px;
//   }
//   visibility: hidden;
// }
