.file-uploader-container {
  position: relative;
  color: $ebony;
  padding: 3.515625rem 9.5625rem 3.515625rem 9.140625rem;

  @include medium {
    padding: 2.671875rem 1.4765625rem;
    width: 100%;
  }

  > * {
    position: relative;
  }
  h5 {
    text-align: center;
    margin-bottom: 0.984375rem;
  }

  .saturated-variant {
    @include mini {
      transform: translate(-5.625rem, 0) scaleY(2) rotate(-40deg) !important;
    }
    @include tiny {
      width: 70.3125rem !important;
    }
  }
}

.file-upload-subheading {
  @include fontSize_Small;
  @include fontWeight_Regular;
  text-align: center;
  margin-bottom: 1.125rem;

  a {
    text-decoration: underline;
  }
}

.file-uploader-dropzone {
  .droparea {
    padding: 2.109375rem 0;
    background: rgba($white, 0.1);
    border: solid;
    border-image: url('../../../assets/images/dashed-border.png') 2 round;
    @include borderRadius_Large;
  }

  .filelist {
    @include fontSize_Tiny;
    @include fontWeight_Regular;

    > * {
      border-top: 0.0703125rem solid rgba($white, 0.25);
      padding: 0.28125rem 0;
    }
    border-bottom: 0.0703125rem solid rgba($white, 0.25);
    grid-row-gap: 0;
    margin-bottom: 0.984375rem;
  }
  margin-bottom: 0.5625rem;
}

.file-upload-modal {
  .modalContainer {
    max-width: calc($containerWidth - 10%);
    @include borderRadius_Large;
    @include medium {
      width: 90%;
    }
  }
  .modalClose {
    color: $ebony;
    font-size: 2rem;
  }

  svg {
    color: $ebony;
  }

  .dragAreaText {
    @include fontSize_Small;
    @include fontWeight_Regular;
    letter-spacing: $letterSpacing_None;
  }
}

.upload-content-block {
  @include leading_Small;
  padding-left: 1.40625rem;
  padding-right: 0.28125rem;
  &:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
  &:last-child {
    padding-bottom: 0.84375rem;
  }
  @include medium {
    padding: 0;
  }
}

.upload-content-block-heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.28125rem;
  @include fontSize_Small;
  @include fontWeight_Semibold;

  svg {
    margin-right: 1.6171875rem;
  }
}

.upload-content-block-description {
  @include fontSize_Tiny;
  @include fontWeight_Regular;
  letter-spacing: $letterSpacing_None;
}

.background-view-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
