.corkscrew-background {
  background: $black;
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: -1;

  img {
    position: relative;
    width: calc(100% + 15rem);
    height: auto;
    left: -15rem;
    top: -20rem;
  }
}
