.corkscrew-background {
  position: absolute;
  width: 2112px;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  transform: translate(-14rem, -22rem);
  z-index: 0;
  opacity: 0.25;
  filter: blur(40px);
}
