.Filterable {
  position: relative;
  display: inline-flex;
  height: 1.5625rem;
  margin-right: 3rem;

  @include medium {
    margin-right: 0;
  }
  transition: all $transitionDuration ease-in-out;
  @include gradient_Blurry_Background_PinkBlue;
  &:hover,
  &:focus-within {
    &:before {
      filter: blur(0.5rem);
      opacity: 0.5;
    }
    &:focus-within {
      .search-icon svg {
        transform: scale(1.2);
      }
    }
  }

  .SearchBar {
    @include borderRadius_Large;
    @include fontSize_Tiny;
    @include fontWeight_Regular;

    @include medium {
      width: 100%;
    }
    position: relative;
    background: rgba($shark, 0.85);
    border: 0.0625rem solid $waterloo;
    color: $white;
    .search-icon {
      svg {
        transition: all $transitionDuration linear;
        position: absolute;
        top: 0.375rem;
        left: 0.75rem;
      }
    }
    input {
      &::placeholder {
        color: rgba($white, 0.8);
      }
      &:focus {
        outline: none;
      }
      padding-top: 0.05rem;
      height: 100%;
      width: 26rem;
      padding-left: 2.1rem;

      @include medium {
        width: 100%;
      }
    }
  }
}
