.Filterable {
  @include gradient_Blurry_Background_PinkBlue;
  position: relative;
  display: inline-flex;
  height: 1.5625rem;
  margin-right: 3rem;

  @include medium {
    margin-right: 0;
  }

  .SearchBar {
    @include borderRadius_Large;
    @include fontSize_Tiny;
    @include fontWeight_Regular;

    @include medium {
      width: 100%;
    }
    position: relative;
    background: rgba($shark, 0.85);
    border: 0.0625rem solid $waterloo;
    color: $white;
    .search-icon {
      svg {
        position: absolute;
        top: 0.4rem;
        left: 0.75rem;
      }
    }
    input {
      &::placeholder {
        color: rgba($white, 0.8);
      }
      &:focus {
        outline: none;
      }
      padding-top: 0.05rem;
      height: 100%;
      width: 26rem;
      padding-left: 2.1rem;
    }
  }
}
