// ------------------------------------------------------------------- Variables
$footerLogoWidth: 2.25rem;

// --------------------------------------------------------------------- Styling
#site-footer {
  background-color: $ebony;
  color: white;
  padding: 4.875rem 0;
}

#site-footer-section {
  position: relative;
}

#footer_squiggle {
  position: absolute;
  width: 33.125rem;
  left: -10.5rem;
  top: 50%;
  transform: rotate(-206deg);
  z-index: 0;
}

.footer_columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer_contact {
  margin-right: 4.875rem;
  width: 40%;
  z-index: 1;
  .footer_logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.75rem;
    .site-logo-image {
      width: $footerLogoWidth;
      fill: white;
    }
    .site-logo-text {
      display: inline;
      @include fontSize_Medium;
      @include fontWeight_Medium;
      margin: 0 0.5rem;
      line-height: $footerLogoWidth;
    }
  }
}

.footer_resources,
.footer_get-started {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  z-index: 1;
  .label {
    padding: 0.625rem 0;
    @include fontSize_Small;
    @include fontWeight_Bold;
    line-height: leading(15, 15);
  }
  a {
    padding: 0.625rem 0;
    @include fontSize_Mini;
    @include fontWeight_Regular;
    line-height: leading(16, 15);
    color: $seaShell;
  }
}

.footer_resources {
  margin-right: 4.875rem;
}
