.page-container {
  // height: 100vh; // TODO: Base off 100vh - header/footer heights
  color: $white;
  padding-top: 4.5rem;
  padding-bottom: 10rem;
  @include fontSize_Medium;
  @include fontWeight_Regular;

  .product-app & {
    flex: 1 1 auto;
  }

  h3 {
    font-size: $fontSize_MediumExtraLarge;
  }
}
