.user-request-modal {
  .modalContainer {
    max-width: calc($containerWidth - 10%);
    background: white;
    font-size: 1rem;
    @include borderRadius_Large;
    @include medium {
      width: 90%;
    }
  }

  .modalClose {
    color: $ebony;
    font-size: 2rem;
  }

  .input-container {
    margin-top: 50px;
  }

  label {
    display: inline-block;
    line-height: 1.4;
    font-size: 0.9rem;
  }

  textarea {
    display: block;
    width: 100%;
    line-height: 1.5;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
  }

  svg {
    color: $ebony;
  }
}

.user-request-modal__container {
  position: relative;
  color: $ebony;
  padding: 3.125rem 8.5rem 3.125rem 8.125rem;

  @include medium {
    padding: 2.375rem 1.3125rem;
    width: 100%;
  }

  .gradient-background-component.saturated-variant {
    top: -2rem;
    left: -2rem;
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    transform: scale(1.1);
  }

  > * {
    position: relative;
  }
}

.user-request-modal__heading {
  font-size: 1.5rem;
}

.user-request-modal__description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;

  a {
    text-decoration: underline;
  }
}
