// blockquote
blockquote {
    padding-left: toRem(43);
    @include fontSize_Medium;
    position: relative;
    &:before {
        content: '';
        border-radius: 10px;
        width: var(--ifm-blockquote-border-left-width);
        @include gradient_Background_BluePurple;
        height: 100%;
        position: absolute;
        left: toRem(-3);
    }
}  