// footer custom
#site-footer {
    letter-spacing: $letterSpacing_Large;
    .footer-link {
        letter-spacing: 0;
        &:hover {
            text-decoration: none;
        }
    }
    .button {
        border: none;
        padding: 0;
        button {
            color: $white;
        }
    }
}