// /reference/http-api/ uses redoc plugin which overwrites some of our global styles
// need to re-style separately

.redoc-wrap {
    @include headings;
    .api-info {
        padding: 0;
        & > h1 {
            margin-top: 0;
        }
    }
    div {
        padding: 0;
    }
    pre {
        border-radius: var(--ifm-code-border-radius) !important;
        padding: var(--ifm-pre-padding) !important;
        code {
          font-family: var(--ifm-font-family-monospace) !important;
          font-size: var(--ifm-code-font-size) / var(--ifm-pre-line-height);
        }
    }
    button {
        font-family: 'SuisseIntl';
        border: 1px solid currentColor;
        background: transparent;
        margin-bottom: toRem(20);
        @include fontSize_Small;
        @include fontWeight_Semibold;
        p {
            @include fontWeight_Semibold;
        }
        border-radius: 5px;
        &:focus {
            box-shadow: none;
        }
        // dropdown
        & + div[aria-hidden] {
            margin-top: toRem(-20);
        }
        // accordion
        &[aria-expanded] + div {
            padding: 0 toRem(20);
        }
    }
    .http-verb {
        background-color: $ebony;
        border-radius: 5px;
        font-family: 'Suisse Intl Mono';
        font-size: toRem(16);
        @include fontWeight_Regular;
    }
    div[role=button] {
        padding: 10px;
        background-color: $white;
        > div {
            border: none;
        }
    }
    table.security-details {
        th {
            width: 50%;
        }
    }
    table {
        margin-top: 1rem;
    }
    table table {
        margin-left: 1rem;
    }
    table tr {
        background-color: transparent !important;
        span {
            @include fontSize_Small;
            color: $ebony;
        }
        td {
            min-width: 150px;
            background-image: none !important;
            &:last-child {
                width: 100%;
            }
            > div {
                background: transparent !important;
            }
        }
        // borders on table
        td, th {
            border-collapse: collapse;
            border: 1px solid $borderColor !important;
            &:first-child {
                border-right: 0 !important;
            }
        }
        &:last-child:not(:first-child) {
            td {
                border-top: 0 !important;
            }
        }
        // line on left side of table
        td span:first-child {
            &:before,
            &:after {
                display: none;
            }
        }
    }
    .dropdown-selector-content {
        border-radius: 10px;
        .dropdown-option {
            padding: 5px 20px !important;
        }
    }
    h5 span {
        @include fontWeight_Regular;
    }
    // code response
    div[role="tabpanel"] {
        background-color: $steelGray;
        border-radius: var(--ifm-code-border-radius);
        button {
            @include fontWeight_Regular;
        }
        .redoc-json * {
            font-family: var(--ifm-font-family-monospace) !important;
            line-height: var(--ifm-pre-line-height);
            font-size: toRem(14.4);
        }
        ul, li {
            padding: 0;
        }
    }
    .react-tabs__tab-list {
        li {
            font-family: 'Suisse Intl Mono';
            font-size: toRem(16);
            color: $white !important;
            background-color: $steelGray;
            border: none;
            @include fontWeight_Regular;
            &.react-tabs__tab--selected {
                color: $ebony !important;
                background-color:  #EAE9E9 !important;
            }
        }
    }
    [data-rttabs="true"] {
        background-color: $white;
        padding: toRem(21) toRem(26);
        position: relative;
        &:before {
            content: '';
            border-radius: 10px;
            width: var(--ifm-blockquote-border-left-width);
            @include gradient_Background_PinkBlue_Reverse;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        span + div {
            border: 1px solid $borderColor;
            padding: toRem(5) toRem(10);
            border-radius: 5px;
        }
        span, button {
            font-size: toRem(13);
            color: $white;
            font-weight: normal;
            line-height: toRem(32);
        }
    }
}