// tabs
.tabs__item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: toRem(50);
    &:hover,
    &--active {
        position: relative;
        &:after {
            height: 5px;
            width: 100%;
            @include gradient_Background_PinkBlue;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 9px;
        }
    }
}