@use 'sass:math';

.section-navigation {
  @include selection_Light;
  &.light {
    @include background_Dark;
    color: white;
  }
  &.clear-bg {
    background-color: unset;
    @include selection_Light;
  }
}

.site-logo-container {
  &.light {
    color: white;
    transition: 250ms ease;
    svg {
      fill: white;
      transition: 250ms ease;
    }
    &.menu-open {
      color: $ebony;
      svg {
        fill: $ebony;
      }
    }
  }
}

.nav-items-wrapper {
  &.light {
    .nav-item:not(.current-page) {
      &:after {
        border: solid 2px white;
      }
    }
  }
}

#navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $navigationHeight;
  z-index: 50;
}

.nav-bar {
  width: 100%;
  margin-top: 1.5rem;
  &.breadcrumbs-hidden {
    margin-top: 0;
  }
}

.nav-bar,
.nav-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  @include fontWeight_Semibold;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.site-logo-container {
  .anchor-wrapper {
    display: flex;
    flex-direction: row;
    height: 2rem;
  }
  .site-logo-image {
    width: 2rem;
    cursor: pointer;
  }
  .site-logo-text {
    display: inline;
    @include fontSize_Medium;
    @include fontWeight_Medium;
    margin: 0 0.375rem;
    line-height: 2rem;
    &.light {
      color: $white;
    }
    &.dark {
      color: $ebony;
    }
  }
}

.nav-items-wrapper {
  .button {
    position: relative;
    div {
      display: flex;
    }
  }
  .nav-item {
    position: relative;
    @include fontSize_Small;
    @include fontWeight_Semibold;
    text-transform: uppercase;
    margin: 0 1.5rem;
    padding: 0 0.5rem;
    transform: translateY(0rem);
    transition: 200ms ease;
    cursor: pointer;
    @include medium {
      margin: 0 0.875rem;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 0.25rem;
      width: calc(100% - 0.5rem);
      height: 0.25rem;
      border-radius: 2px;
      border: solid 2px $ebony;
      opacity: 0;
      transition: 200ms ease;
    }
    &:hover {
      color: $blue;
      transform: translateY(-0.5rem);
      &:after {
        border: solid 2px $blue;
      }
    }
    &.current-page {
      transform: translateY(-0.5rem);
      &:after {
        opacity: 1;
      }
    }
  }
  & > *:last-child {
    margin-left: 1.5rem;
    margin-right: 0;
  }
  &.light {
    .nav-item {
      &:hover {
        color: $malibu;
        &:after {
          border: solid 2px $malibu;
        }
      }
    }
  }
}

.navigation-loader {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-loader-text {
  visibility: hidden;
}

// ///////////////////////////////////////////////////////////////////////// App
.nav-account-button {
  position: relative;
  &:hover {
    .nav-account-dropdown {
      transform: translate(-50%, 0rem);
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav-account-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-right: 3.5rem;
  top: calc(100% + 1rem);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 1.5rem);
  transition: 250ms ease;
  border-radius: 0.625rem;
  border: solid 1px $waterloo;
  background-color: rgba($woodsmoke, 0.85);
  z-index: 1;
  box-shadow: 0px 0px 4px $malibu;
  visibility: hidden;
  &:before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
  }
  .label {
    position: relative;
    text-align: left;
    @include fontSize_Small;
    @include fontWeight_Regular;
    color: $white;
    line-height: leading(20, 16);
    letter-spacing: 0.025em;
    margin-top: 0;
    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 1rem);
      left: -1.5rem;
      width: calc(100% + 5rem);
      border-top: solid 1px $white;
      opacity: 0.05;
    }
  }
  .nav-dropdown-link {
    position: relative;
    padding: 0.5rem 0;
    @include fontSize_Mini;
    @include fontWeight_Medium;
    line-height: leading(22, 15);
    text-align: left;
    color: $seaShell;
    transition: 200ms ease;
    transform: translateX(0);
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.25rem;
      height: 100%;
      padding: 0.75rem 0;
      background-image: url('../../assets/images/zigzag-tiny.png');
      background-position: 0 4px;
      background-size: 0 1.75rem;
      background-repeat: no-repeat;
      transform: translate(0);
      transition: inherit;
      opacity: 0;
    }
    &:hover {
      transform: translateX(2.25rem);
      &:before {
        background-size: 1.75rem 1.75rem;
        transform: translate(-2.25rem);
        opacity: 1;
      }
    }
    &.current-route {
      color: $malibu;
      &:hover {
        transform: translateX(0) !important;
        cursor: default;
        &:before {
          background-size: 0 1.75rem;
          transform: 0;
          opacity: 0;
        }
      }
    }
  }
}

// ////////////////////////////////////////////////////////////////////// mobile

.nav-bar {
  position: relative;
  z-index: 1;
  padding: 0 0;
  transition: 350 ease;
  &.mobile-panel {
    z-index: 50;
  }
  @include small {
    padding: 0 1.5rem;
  }
}

.nav-items-wrapper {
  @include small {
    display: none;
  }
}

.nav-menu-toggle {
  display: none;
  @include small {
    display: block;
  }
  &.light {
    svg,
    path {
      fill: white;
      stroke: white;
      transition: 250ms ease;
    }
    &.menu-open {
      svg,
      path {
        fill: $ebony;
        stroke: $ebony;
      }
    }
  }
}

.nav-mobile-panel {
  visibility: hidden;
  position: absolute;
  padding: 0 3.5rem;
  top: 0;
  left: -99999px;
  right: -99999px;
  margin: 0 auto;
  width: 100vw;
  transform: translateY(calc(-100% - 9rem));
  transition: 350ms ease;
  color: $ebony;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100% + 9rem);
    background-image: url('/images/index/holographic-bg-nav-mobile.png');
    background-size: cover;
    background-position: right 0px bottom 0;
    background-repeat: no-repeat;
  }
  @include tiny {
    transform: translateY(-100%);
    &:before {
      height: 100%;
      background-position: right -100px bottom 0;
    }
  }

  &.open {
    @include small {
      visibility: visible;
    }
    transform: translateY(0%);
  }
}

.mobile-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 6rem;
  position: relative;
  z-index: 51;
  margin-top: $navigationHeight;
  .nav-item-heading,
  .nav-sublink,
  .nav-item {
    padding: 0.375rem 0;
    text-align: left;
    @include fontSize_Small;
    @include fontWeight_Semibold;
  }
  .accordion-content {
    margin-left: 2rem;
    transition: height 300ms ease-in-out;
  }
  .accordion-section {
    margin-bottom: 0.375rem;
  }
  .button {
    margin: 0.375rem 0;
  }
  .button {
    position: relative;
    width: fit-content;
    div {
      display: flex;
    }
  }
  button {
    @include fontWeight_Semibold;
  }
}

.nav-sublinks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .nav-sublink {
    padding: 0.375rem 1rem 0.375rem 0;
    cursor: pointer;
    text-align: left;
    @include fontSize_Mini;
  }
}
