@use 'sass:math';

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
.hero-illustration {
  position: absolute;
  z-index: 2;
}

// //////////////////////////////////////////////////////////////// Page [Index]
// -----------------------------------------------------------------------------
#index_hero-container {
  width: 100%;
  padding: 0 1.75rem;
  z-index: 0;
  display: flex;
  .text-block {
    .subheading {
      color: black;
      padding-right: 5rem;
      @include mini {
        padding-right: 0;
      }
    }
  }
}

.index_hero-top-section {
  height: 24.05rem;
}

.index_hero-artwork-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: -1;
}

#index_hero_background-gradient {
  position: absolute;
  width: 100%;
  height: calc(100% + $navigationHeight + 9rem);
  left: 0;
  top: calc(0rem - $navigationHeight);
  z-index: 0;
  background-image: url('/images/index/holographic-bg-cropped-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0rem;
}

#index_hero-grid-3d,
#faq_hero-grid-3d {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto !important;
  z-index: 1;
}

#index_hero-squiggle {
  width: 29rem;
  left: -10.5rem;
  transform: rotate(-27deg);
  @include medium {
    left: calc(50% - #{math.div($containerWidth, 2)} - 12rem);
  }
}

#index_hero-corkscrew {
  width: 24.375rem;
  right: -2rem;
  top: -1rem;
  transform: rotate(115deg);
  @include large {
    right: calc(50% - #{math.div($containerWidth, 2)} - 9rem);
  }
  @include small {
    display: none;
  }
}

#index_hero-zigzag {
  width: 7.375rem;
  left: calc(25% - 2rem);
  top: -3.5rem;
  transform: rotate(-185deg);
  @include medium {
    width: 3rem;
  }
  @include mini {
    left: 1%;
  }
}

#index_hero-helix {
  width: 4.125rem;
  left: 37%;
  top: -1 * $navigationHeight;
  transform: rotate(-90deg);
  @include mini {
    display: none;
  }
}

#index_hero-cross {
  width: 5.25rem;
  right: 31%;
  bottom: 1rem;
  @include small {
    display: none;
  }
}

#index_hero-triangle {
  width: 3.5rem;
  left: 30%;
  bottom: 2rem;
  transform: rotate(-90deg);
  @include medium {
    bottom: -2rem;
  }
  @include small {
    left: 2rem;
  }
}

// ////////////////////////////////////////////////////////////////// Page [FAQ]
// -----------------------------------------------------------------------------

#faq_hero-header {
  position: relative;
  padding-top: 10rem;
  z-index: 1;
  .text-block {
    position: relative;
    z-index: 2;
    .heading {
      display: none;
    }
    .subheading {
      position: relative;
      width: calc(100% + 2rem);
      left: -1rem;
      display: inline-block;
      @include fontSize_Huge;
      @include fontWeight_Semibold;
      line-height: leading(96, 67);
      text-align: center;
      div {
        display: inherit;
      }
      span {
        &:last-child {
          margin-right: 4.875rem;
          @include small {
            margin-right: 0;
            margin-left: 1rem;
          }
          @include mini {
            margin-left: 0;
          }
        }
      }
      @include small {
        @include fontSize_ExtraLarge;
      }
      @include mini {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

#faq_hero-grid-3d {
  top: calc(-2rem - $navigationHeight);
  bottom: unset;
  transform: scale(1.62, 1.1);
  svg,
  path {
    opacity: 0.75;
  }
}

.faq_hero-artwork-container {
  &:after {
    content: '';
    position: absolute;
    top: calc(-2rem - $navigationHeight);
    left: 0;
    width: 100%;
    height: 80rem;
    background: linear-gradient(rgba($seaShell, 0), $seaShell);
    z-index: 1;
  }
}

#faq_hero_title-triangle,
#faq_hero_title-coil {
  position: relative;
  width: 4.875rem;
  height: 4.875rem;
  top: 1rem;
  margin: 0 0.5rem;
  &:after {
    display: inherit;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;

    background-size: 100%;
    background-repeat: no-repeat;
  }
  @include small {
    width: 4rem;
    height: 4rem;
  }
}

#faq_hero_title-triangle {
  &:after {
    transform: scaleX(-1) rotate(-90deg);
    background-image: url('../../assets/images/triangle.png');
  }
}

#faq_hero_title-coil {
  &:after {
    transform: rotate(31deg);
    background-image: url('../../assets/images/coil.png');
    @include small {
      display: none;
    }
    @include mini {
      display: block;
    }
  }
  @include small {
    position: absolute;
  }
  @include mini {
    position: relative;
  }
}

#faq_hero-ring,
#faq_hero-helix,
#faq_hero-corkscrew {
  position: absolute;
}

#faq_hero-ring {
  width: 36.5rem;
  right: 0;
  bottom: 0;
  transform: translate(55%, 54%) rotate(-23deg);
  right: calc(50% - #{math.div($containerWidth, 2)} - 13rem);
}

#faq_hero-corkscrew {
  width: 13.375rem;
  top: 13.5rem;
  right: calc(50% - #{math.div($containerWidth, 2)} + 3rem);
  transform: scaleX(-1) rotate(-1deg);
  @include containerMaxMQ {
    right: 0;
  }
  @include small {
    right: calc(50% - #{math.div($containerWidth, 2)} + 3rem);
  }
}

#faq_hero-helix {
  width: 18rem;
  top: 1rem;
  left: -4rem;
  transform: rotate(-79deg);
  left: calc(50% - #{math.div($containerWidth, 2)} - 18rem);
  @include medium {
    width: 14rem;
    left: -4rem;
  }
  @include small {
    width: 10rem;
    top: -1rem;
  }
}
