/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 *
 * 'from-website' import is a direct copy of scss files from website monorepo
 * need to eventually create a mechanism to share styles
 */

@use 'sass:math';

@import 'from-website/grid/gridlex-2.7.1';
@import 'from-website/variables';
@import 'from-website/button';

@import 'vars';

@import 'custom/nav';
@import 'custom/sidebar';
@import 'from-website/footer.scss';
@import 'custom/main.scss';


:root {
  --ifm-menu-color-active: #{$primary};
  --ifm-link-color: #{$primary};
  --ifm-navbar-link-hover-color: #{$primary};
  --ifm-menu-color: #{$ebony};

  --ifm-footer-background-color: #{$ebony};
  --ifm-footer-color: #{$white};
  --ifm-toc-border-color: transparent;
  --ifm-navbar-height: 19rem;
  --ifm-toc-link-color: #{$ebony};
  --ifm-font-weight-bold: #{$fontWeight_Semibold};
  --ifm-color-primary: #{$primary}; 
  --ifm-blockquote-border-left-width: 5px;
  --ifm-blockquote-border-color: transparent;
  --ifm-blockquote-color: #{$ebony};
  --ifm-spacing-vertical: #{toRem(23)};
}



//////////////////////////////////////////////////////////////////// Suisse Intl
$fontAssetPath: '../../static/fonts';

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
}

/////////////////////////////////////////////////////////////// Suisse Intl Mono
@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Thin.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Bold.otf') format('opentype');
  font-weight: 700;
}

// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
h1,
.h1 {
  @include h1;
  line-height: leading(55, 45);
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}


// custom
html,
body {
  font-family: $font_Primary;
  line-height: toRem(34);
  color: $ebony;
  background-color: $seaShell;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-image: url(#{$imagePath}/shapes/corkscrewBlurred.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  ::-moz-selection {
    background: white;
    color: black;
  }
  ::selection {
    background: white;
    color: black;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

button {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.label {
  margin-bottom: 1.25rem;
}

// prevent the external link icon showing in the navbar and footer
svg[class^="iconExternalLink"] {
  display: none;
}

[class~='grid'],
[class*='grid-'],
[class*='grid_'] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*='-noGutter'] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~='grid'],
  [class*='grid-'],
  [class*='grid_'] {
    width: 100%;
    padding: 0;
  }
}

// footer custom
footer {
  letter-spacing: $letterSpacing_Large;
  .footer-link {
    letter-spacing: 0;
  }
  .button {
    border: none;
    padding: 0;
  }
}

.markdown h1:first-child {
  margin-bottom: toRem(36);
}

// blockquote
blockquote {
  padding-left: toRem(43);
  position: relative;
  &:before {
    content: '';
    border-radius: 10px;
    width: var(--ifm-blockquote-border-left-width);
    @include gradient_Background_BluePurple;
    height: 100%;
    position: absolute;
    left: toRem(-2);
  }
  @include fontSize_Medium;
  a {
    @include fontWeight_Semibold;
  }
}
