/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 *
 * 'from-website' import is a direct copy of scss files from website monorepo
 * need to eventually create a mechanism to share styles
 */

@use 'sass:math';

// globals grabbed directly from website
// in the future, need to find some way to share styles more DRY
@import 'from-website/grid/gridlex-2.7.1';
@import 'from-website/variables';
@import 'from-website/button';

@import 'vars';

// components
@import 'custom/accordion';
@import 'custom/admonition';
@import 'custom/blockquote';
@import 'custom/feedback';
@import 'from-website/footer';
@import 'custom/footer';
@import 'custom/main';
@import 'custom/nav';
@import 'custom/redoc';
@import 'custom/sidebar';
@import 'custom/tabs';

// overwrite vars
:root {
    --ifm-menu-color-active: #{$primary};
    --ifm-link-color: #{$primary};
    --ifm-navbar-link-hover-color: #{$primary};
    --ifm-menu-color: #{$ebony};
    --ifm-footer-background-color: #{$ebony};
    --ifm-footer-color: #{$white};
    --ifm-toc-border-color: transparent;
    --ifm-navbar-height: 19rem;
    --ifm-toc-link-color: #{$ebony};
    --ifm-font-weight-bold: #{$fontWeight_Semibold};
    --ifm-color-primary: #{$primary}; 
    --ifm-blockquote-border-left-width: 5px;
    --ifm-blockquote-border-color: transparent;
    --ifm-blockquote-color: #{$ebony};
    --ifm-spacing-vertical: #{toRem(40)};
    --ifm-leading: #{toRem(40)};
    --ifm-list-left-padding: 0;
    --ifm-list-margin: #{toRem(40)};
    --ifm-alert-padding-horizontal: #{toRem(42)};
    --ifm-alert-padding-vertical: #{toRem(28)};
    --ifm-tabs-color-active: #{$ebony};
    --ifm-color-danger-contrast-background: #{$white};
    --ifm-color-danger-contrast-foreground: #{$ebony};
    --ifm-color-success-contrast-background: #{$white};
    --ifm-color-info-contrast-background: #{$white};
    --docsearch-searchbox-focus-background: transparent !important;
    --docsearch-text-color: #{$ebony} !important;
    --docsearch-searchbox-shadow: none !important;
    --docsearch-searchbox-background: transparent !important;
    --ifm-background-color: #{$seaShell};
    --ifm-font-color-base: #{$ebony};
    --ifm-font-family-base: #{$font_Primary};
    --ifm-font-size-base: #{toRem(16)};
    --ifm-line-height-base: #{toRem(34)};
    --ifm-color-danger-dark: #{$ebony};
    --ifm-tabs-color-active-border: transparent;
    --ifm-tabs-color: #{$ebony};
    --ifm-hover-overlay: transparent;
    --ifm-color-success-dark: #{$ebony};
    --ifm-font-family-monospace: 'Suisse Intl Mono';
    --ifm-color-info-dark: #{$borderColor};
    --ifm-alert-foreground-color: #{$ebony};
    --ifm-alert-background-color: transparent;
    --ifm-navbar-background-color: #{$sidenavBg};
    --ifm-navbar-shadow : transparent;
}

// Suisse Intl
$fontAssetPath: '../../static/fonts';

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
}

// Suisse Intl Mono
@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Thin.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Bold.otf') format('opentype');
  font-weight: 700;
}

// base
html,
body {
  @include headings;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: auto !important;
  ::-moz-selection {
    background: white;
    color: black;
  }
  ::selection {
    background: white;
    color: black;
  }
  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

html {
  background-image: url(#{$imagePath}/shapes/corkscrewBlurred.jpg);
  background-repeat: repeat;
  background-size: cover;
}

article {
  a {
    @include fontWeight_Semibold;
  }
  ol, ul {
    padding-left: 1rem;
    li {
      padding-left: 3rem;
    }
  }
}

.label {
  margin-bottom: 1.25rem;
}

// prevent the external link icon showing in the navbar and footer
svg[class^="iconExternalLink"] {
  display: none;
}

// grid from website
[class~='grid'],
[class*='grid-'],
[class*='grid_'] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*='-noGutter'] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~='grid'],
  [class*='grid-'],
  [class*='grid_'] {
    width: 100%;
    padding: 0;
  }
}

.main-wrapper,
.docs-wrapper {
  z-index: 100;
}

// pagination 
.pagination-nav__link {
  border: 0;
}

table {
  td {
    min-width: toRem(150);
    line-height: 1.4;
    &:last-child {
      width: 100%;
    }
  }
}

.container {
  .row {
    flex-wrap: nowrap;
  }
  .docItemCol_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocItem-styles-module {
    width: 50vw;
    @media (max-width: 1300px) {
      width: 48vw;
    }
    @media (max-width: 1200px) {
      width: 44vw;
    }
    @media (max-width: 1100px) {
      width: 40vw;
    }
  }
  .col--3 {
    flex-shrink: 0 !important;
    width: toRem(300) !important;
  }
}
.row .col.col--3 {
  --ifm-col-width: toRem(300);
  @media (max-width: 1300px) {
    --ifm-col-width: #{toRem(260)};
  }
  @media (max-width: 1200px) {
    --ifm-col-width: #{toRem(240)};
  }
}

// position anchor lower so it stops on top of page
a.anchor {
  display: block;
  position: relative;
  top: 180px;
  @include mobile {
    top: 230px;
  }
  visibility: hidden;
}
