$primary: #3C3CD0;
$breakpoint: 997px;
$imagePath: '../../static/img';

@mixin desktop {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}