
/* You can override the default Infima variables here. */
:root {
  /* the --w3storage colors are taken from the main site tailwind config */
  --w3storage-yellow: #fde956;
  --w3storage-yellow-dark: #e5ca02;
  --w3storage-yellow-light: #fffae6;
  --w3storage-red: #fc6553;
  --w3storage-red-dark: #c94332;
  --w3storage-red-accent: #d7362e;
  --w3storage-red-light: #fff5f4;
  --w3storage-pink: #FFE6E5;
  --w3storage-red-background: #ffe6e5;
  --w3storage-neutral-red: #fff2ec;
  --w3storage-green: #37b667;
  --w3storage-green-dark: #10853c;
  --w3storage-green-light: #f0fcf4;
  --w3storage-purple: #171691;
  --w3storage-black: #1f1817;
  --w3storage-blue-dark: #0b0a45;
  --w3storage-blue-desaturated: #2d2d65;
  --w3storage-blue-desaturated-bright: #3f3f75;
  --w3storage-blue-bright: #00a7ff;
  --w3storage-white: #ffffff;
  --w3storage-background: #fff2ec;

  --ifm-color-primary: #fc6553;
  --ifm-color-primary-dark: #fb4832;
  --ifm-color-primary-darker: #fb3922;
  --ifm-color-primary-darkest: #e61c04;
  --ifm-color-primary-light: #fd8274;
  --ifm-color-primary-lighter: #fd9184;
  --ifm-color-primary-lightest: #febdb6;
  --ifm-code-font-size: 95%;

  /* --ifm-color-secondary: var(--w3storage-green); */

  --ifm-background-color: var(--w3storage-background);
  --ifm-background-surface-color: var(--w3storage-red);
  
  --ifm-color-content: var(--w3storage-purple);
  --ifm-link-color: var(--ifm-color-primary);


  --feedback-background-color: #ffffff;
  --sidebar-background-color: var(--ifm-background-surface-color);
  --nav-link-color: var(--ifm-color-content);
  --nav-link-hover-color: var(--w3storage-yellow);
  --nav-link-active-color: var(--w3storage-yellow);
  --heading-color: var(--ifm-color-content);

  
  --redoc-table-row-bg-color: #ffffff;
  --redoc-table-row-alt-bg-color: #fafafa;
  --redoc-response-panel-bg-color: var(--w3storage-blue-desaturated-bright);
  --redoc-code-block-bg-color: #292d3e;
}

/* algolia search */
.DocSearch {
  --docsearch-searchbox-background: var(--w3storage-white);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-muted-color: var(--w3storage-blue-desaturated-bright);
}

button.DocSearch-Button {
  border-radius: 5px;
  --docsearch-searchbox-background: var(--w3storage-purple);
  --docsearch-searchbox-focus-background: var(--w3storage-purple);
  --docsearch-text-color: white;
}



.DocSearch-Button-Placeholder {
  display: none;
}

span.DocSearch-Button-Keys {
  display: none;
}


/* ================================================================================
   Dark Mode
   ================================================================================ */

html[data-theme='dark'] {
  --ifm-background-color: var(--w3storage-blue-desaturated);
  --ifm-background-surface-color: var(--w3storage-red-dark);

  --ifm-color-content: var(--w3storage-white);
  --ifm-color-content-secondary: var(--w3storage-white);

  --feedback-background-color: var(--w3storage-blue-desaturated-bright);
  --heading-color: var(--w3storage-yellow);
  --nav-link-color: var(--w3storage-blue-dark);

  --redoc-table-row-bg-color: #ffffff;
  --redoc-table-row-alt-bg-color: #fafafa;
  --redoc-code-block-bg-color: #292d3e;

}

/* algolia search */
html[data-theme='dark'] .DocSearch {
  --docsearch-muted-color: var(--w3storage-red-light);
}

