// ------------------------------------------------------------------- Variables
$footerLogoWidth: 2.25rem;

// --------------------------------------------------------------------- Styling
#site-footer {
  background-color: $ebony;
  color: white;
  padding-top: 4.875rem;
}

#site-footer-section {
  position: relative;
}

#footer_squiggle {
  position: absolute;
  width: 33.125rem;
  left: -11.5rem;
  top: 29rem;
  transform: scaleX(-1) rotate(25deg);
  z-index: 0;
}

.footer_columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer_contact {
  margin-right: 2.875rem;
  padding-right: 2rem;
  width: 40%;
  z-index: 1;
  .footer_logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.75rem;
    svg {
      width: $footerLogoWidth;
      fill: white;
    }
    .site-logo-text {
      display: inline;
      @include fontSize_MediumLarge;
      @include fontWeight_Medium;
      margin: 0 0.5rem;
      line-height: $footerLogoWidth;
    }
  }
  .prompt {
    @include fontSize_Small;
    @include fontWeight_Regular;
    line-height: leading(30, 16);
    margin-bottom: 1.25rem;
  }
}

.footer_resources,
.footer_get-started {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  z-index: 1;
  .label {
    padding: 0.625rem 0;
    @include fontSize_Small;
    @include fontWeight_Bold;
    line-height: leading(15, 15);
  }
  a {
    position: relative;
    padding: 0.625rem 0;
    @include fontSize_Mini;
    @include fontWeight_Regular;
    line-height: leading(16, 15);
    color: $seaShell;
    transition: 200ms ease;
    transform: translateX(0);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.25rem;
      height: 100%;
      padding: 0.75rem 0;
      background-image: url('../../assets/images/zigzag-tiny.png');
      background-position: 0 4px;
      background-size: 0 1.75rem;
      background-repeat: no-repeat;
      transform: translate(0);
      transition: inherit;
      opacity: 0;
    }
    &:hover {
      transform: translateX(2.25rem);
      &:before {
        background-size: 1.75rem 1.75rem;
        transform: translate(-2.25rem);
        opacity: 1;
      }
    }
  }
}

.footer_resources {
  margin-right: 4.875rem;
}

#section_copyright {
  margin-top: 2rem;
  border-top: solid $doveGray 1.5px;
}

.copyright_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0;
  width: 100%;
  .copyright_left,
  .copyright_right {
    @include fontSize_Mini;
  }
  .copyright_right {
    display: inline;
  }
  .copyright_link {
    color: $malibu;
    margin-left: 0.5rem;
  }
}
