@use 'sass:math';

$base-row-width: 60.125rem;
$file-select: calculateWidthPercentage(2.375rem, $base-row-width);
$file-date: calculateWidthPercentage(5.8125rem, $base-row-width);
$file-name: calculateWidthPercentage(13rem, $base-row-width);
$file-cid: calculateWidthPercentage(12.6875rem, $base-row-width);
$file-availability: calculateWidthPercentage(7.375rem, $base-row-width);
$file-pin-status: calculateWidthPercentage(6.5625rem, $base-row-width);
$file-storage-providers: calculateWidthPercentage(7.5rem, $base-row-width);
$file-size: auto;

.files-manager-row {
  @include fontSize_Tiny;
  @include fontWeight_Semibold;
  @include leading_Tiny;

  display: grid;
  position: relative;
  grid-template-columns: $file-select $file-date $file-name $file-cid $file-availability $file-pin-status $file-storage-providers $file-size;
  align-items: flex-start;
  padding-left: 1.125rem;
  min-height: 6.25rem;
  border-bottom: 0.0625rem solid rgba(white, 0.05);
  margin-top: 1.3rem;
  padding-bottom: 1rem;

  &-header {
    padding-bottom: 1.25rem;
    min-height: initial;
    border-bottom: 0.125rem solid rgba(white, 0.15);
  }

  // Targeting all columns
  > span {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include fontWeight_Regular;
  }

  .file {
    &-select {
      @include border_Background_Waterloo_White;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.125rem;
      cursor: pointer;
      position: relative;
      margin-bottom: 0.125rem;

      input {
        cursor: pointer;
        opacity: 0;
      }
      input:checked ~ .check {
        display: initial;
      }
      svg {
        display: none;
        color: $cyan;
        top: -0.2rem;
        position: absolute;
        pointer-events: none;
      }
    }
    &-date {
      padding-right: 2.1875rem;
    }
    &-name {
      padding-right: 2.1875rem;
      height: 100%;

      &.isEditingName {
        svg {
          color: $cyan;
        }

        // Text area container for blurry background
        > span {
          display: flex;
          position: relative;
          &:before {
            @include gradient_BlurryBox_PinkBlue;
            border-radius: 1rem;
            opacity: 0.5;
          }
        }
      }

      svg {
        flex-shrink: 0;
        cursor: pointer;
        margin-left: 0.5rem;
      }

      textarea {
        position: relative;
        resize: none;
        background: $shark;
        border: 0.0625rem solid $waterloo;
        border-radius: 0.625rem;
        padding: 0.625rem;
        height: 100%;
      }
    }
    &-cid {
      padding-right: 3rem;
      justify-content: space-between;

      .copy-icon {
        cursor: pointer;
      }
    }
    &-availability {
      padding-right: 2.6875rem;
    }
    &-pin-status {
      // padding-right: 3rem;
      justify-content: flex-start;
      gap: 0.5rem;
    }
    &-storage-providers {
      padding-right: 2.5rem;
      flex-wrap: wrap;
      > span {
        flex-shrink: none;
      }
    }
  }

  // Header overrides
  &.files-manager-row-header {
    align-items: end;

    .file {
      &-storage-providers {
        padding-right: 2.5rem;
        flex-direction: row;
      }
    }
  }

  .highlight {
    @include gradient_Background_PinkBlue;
  }
}

// Tooltip

$info-icon-size: 0.5625rem;
$info-tooltip-arrow-size: 0.625rem;
$info-tooltip-center: calc(50% - #{math.div($info-icon-size, 2)});

.info-container {
  position: relative;
  display: inline-block;

  &:hover {
    .info-tooltip {
      display: block;
    }

    // Bridging the gap to the tooltip to keep it hovered
    &:after {
      content: ' ';
      width: #{$info-tooltip-arrow-size + 0.75rem};
      position: absolute;
      left: 100%;
      height: 100%;
    }
  }
}

.info-tooltip {
  display: none;
  position: absolute;
  left: calc(100% + #{$info-tooltip-arrow-size + 0.75rem});
  bottom: $info-tooltip-center;
  transform: translateY($info-tooltip-center);
  padding: 1rem 1.25rem 1rem;
  background: rgba($martinique, 0.95);
  border-radius: 0.75rem;
  width: max-content;
  max-width: 16rem;
  color: $white;
  z-index: 1;

  &:before {
    width: 0;
    height: 0;
    border-top: $info-tooltip-arrow-size solid transparent;
    border-bottom: $info-tooltip-arrow-size solid transparent;
    content: ' ';
    border-right: $info-tooltip-arrow-size solid rgba($martinique, 0.95);
    position: absolute;
    left: -$info-tooltip-arrow-size;
    bottom: $info-tooltip-center;
    transform: translateY($info-tooltip-center);
  }

  a {
    color: $cyan;
    cursor: pointer;
  }
}
