.files-manager-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  padding: 1.5rem 0;

  @include medium {
    background: none;
    border: none;
  }

  > * {
    width: 100%;
  }

  &.disabled,
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.files-manager-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  padding: 0 2.125rem 1.5rem;

  @include medium {
    padding: 0 2.125rem 0.5rem 0.875rem;
  }

  // Title
  > :first-child {
    margin-right: 11.625rem;
  }

  .refresh {
    @include label_5;
    position: relative;
    top: 0.1rem;
    cursor: pointer;
    margin-right: 2.5rem;

    svg {
      color: $cyan;
      margin-right: 0.625rem;
    }
  }

  @include medium {
    justify-content: space-between;

    .refresh {
      margin-right: 0;
    }

    // Title
    > :first-child {
      margin-right: initial;
    }
  }
}

.files-manager-table-header-divider {
  border-bottom: 0.0625rem solid rgba($white, 0.05);
  position: absolute;
  width: 100%;
  left: 0;
  top: 8.125rem;
}

.files-manager-table-content {
  display: flex;
  flex-direction: column;
}

.files-manager-upload-cta {
  @include fontWeight_Regular;
  @include fontSize_Medium;
  padding-left: 2.5rem;
  padding-top: 0.85rem;
  .button {
    button {
      @include fontSize_Medium;
      padding-left: 0;
    }
  }
}

.files-loading-spinner {
  width: 100%;
  padding: 0;
  padding-top: 2em;
}

.files-manager-footer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1.5rem 2rem 0;

  .files-manager-result-dropdown .dropdownContent {
    position: absolute;
    top: 0;
  }

  .delete {
    @include label_5;
    cursor: pointer;
    color: $cyan;
  }
}
