.blog-subscribe-modal-inner {
  .file-uploader-container {
    padding: 5rem 8.5rem 5rem 8.125rem;
    text-align: right;
    @include medium {
      padding: 5rem 1.5rem 2rem 1.5rem;
      width: 100%;
    }
  }
  p {
    text-align: center;
    @include fontSize_Regular;
    @include leading_Small;
    padding-bottom: 2em;
    padding-top: 0.5rem;
  }
  .text-arrow {
    margin-top: 1rem;
  }
  .blog-search-input {
    &:after {
      display: none;
    }
  }
}
