.account-plans-modal {
  .modalContainer {
    padding: 4px;
    border-radius: 10px;
  }
  .background-view-wrapper {
    z-index: -1;
  }

  .billing-plans {
    padding: 3rem;
    background-color: $vulcan;
    color: #fff;
    border-radius: 10px;
  }

  .billing-card:not(.current) {
    border: 2px solid transparent;
  }

  .billing-card.current {
    border: 2px solid $malibu;
    position: relative;
    &:after {
      content: 'Current Plan';
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      color: $malibu;
      text-transform: uppercase;
    }
  }
}
