.login-container {
  .section {
    svg {
      margin-right: 0.7734375rem;
    }
    &-email {
      flex-direction: column;
      gap: 1.40625rem;
    }
    &-github {
      @include hoverInput;
    }
    .button {
      width: 9.6328125rem;
      height: 2.4609375rem;
      button {
        min-height: 1.6875rem;
      }
    }
  }
}

.login-content {
  position: relative;
  margin: auto;
  max-width: 22.21875rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.28125rem;
}

.login-email {
  @include border_Background_Waterloo_White;
  padding: 1.125rem 2.25rem;
  width: 100%;
  border-radius: 0;
  @include hoverInput;
  &::placeholder {
    color: $white;
  }
  &.error {
    border-color: $cerise;
    transition: border-color 250ms;
  }
}
