.login-container {
  h3 {
    font-size: 1.875rem; // TODO: Adding to fonts 30pt
  }

  .section {
    svg {
      margin-right: 0.6875rem;
    }

    &-email {
      flex-direction: column;
      gap: 1.25rem;
    }

    .button {
      width: 8.5625rem;
      height: 2.1875rem;

      button {
        min-height: 1.5rem;
      }
    }
  }
}

.login-content {
  position: relative;
  margin: auto;
  max-width: 19.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}

.login-email {
  padding: 1rem 2rem;
  width: 100%;
  border: 0.0625rem solid $doveGray;
  background: none;

  &::placeholder {
    color: $white;
  }
}

.error {
  border: 1px solid red;
}
