.login-container {
  .section {
    svg {
      margin-right: 0.6875rem;
    }
    &-email {
      flex-direction: column;
      gap: 1.25rem;
    }
    &-github {
      @include hoverInput;
    }
    .button {
      width: 8.5625rem;
      height: 2.1875rem;
      button {
        min-height: 1.5rem;
      }
    }
  }
}

.login-content {
  position: relative;
  margin: auto;
  max-width: 19.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}

.login-email {
  @include border_Background_Waterloo_White;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 0;
  @include hoverInput;
  &::placeholder {
    color: $white;
  }
  &.error {
    border-color: $cerise;
    transition: border-color 250ms;
  }
}
