.loading {
  position: relative;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #cebcf4;
  font-size: 14px;
}

.spinner-small {
  height: 0.625rem;
}

.spinner-medium {
  height: 1.25rem;
}

.spinner-large {
  height: 3.125rem;
}

.spinner-white {
  fill: white;
}

.spinner-black {
  fill: black;
}

.spinner-gradient {
  fill: url('#spinner-gradient');
}
