// ///////////////////////////////////////////////////////////////////// General
.imageBlock {
  position: relative;
  div {
    position: relative !important;
  }
  img {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.label {
  text-align: center;
  margin-top: 2rem;
}
