// ///////////////////////////////////////////////////////////////////// General
.imageBlock {
  position: relative;
}

.image {
  display: block;
  width: 100%;
}

.label {
  text-align: center;
  margin-top: 2rem;
}
