.docs-feedback {
  margin-top: 3rem;
  background-color: $white;
  padding: toRem(32) toRem(29);
  @include borderRadius_Large;
  @include shadow1;
  h4 {
    margin-bottom: toRem(5);
  }
  button {
    color: $white;
    margin-bottom: toRem(20);
    margin-right: toRem(16);
    margin-left: toRem(10);
    @extend .button;
    background-color: $ebony;
    font-size: 0.875rem;
    padding: toRem(8) toRem(12);
    border: 2px solid $ebony;
    box-sizing: border-box;
    border-radius: 0.325rem !important;
    &:hover {
      transform: scale(1.1);
    }
  }
  .col {
    padding: 0;
    div {
      margin-top: toRem(5);
      margin-bottom: toRem(5);
    }
  }
}
