.tokens-container {
  max-width: 60rem;
  margin: auto;

  h3 {
    padding: 0 1.75rem 0.75rem;
  }

  .isDisabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.tokens-header {
  position: relative;
  z-index: 1;
}

.tokens-header,
.tokens-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
}

.tokens-footer {
  @include fontSize_Tiny;
  @include fontWeight_Regular;
  margin-top: 0.75rem;
  @include medium {
    margin-top: 2.36rem;
    justify-content: center;
    text-align: center;
  }
}

.dashboard-link {
  @include fontSize_Mini;
  @include fontWeight_Semibold;
  @include medium {
    order: 2;
    flex-basis: 100%;
  }
  div {
    display: none;
  }
  button {
    padding-left: 1rem;
    @include medium {
      padding-left: 0;
      align-items: center;
    }
  }
  @include hoverArrowLeft;
}

.testing-cta-container {
  @include leading_Tiny;
  .testing-cta {
    @include medium {
      display: block;
    }
  }
  a {
    position: relative;
  }
  @include hoverArrowRight;
  @include medium {
    margin-bottom: 1.59375rem;
  }
}
