// //////////////////////////////////////////////////////////// General & Themes
.textBlock {
  position: relative;
}

// ///////////////////////////////////////////////////////////////////// Formats
// .format__medium {
//   .description {
//     padding-right: 10rem;
//   }
// }

// ///////////////////////////////////////////////////////////////////// Content
.label {
  margin-bottom: 1rem;
}

.labelText {

}

.heading,
.subheader,
.description {
  margin-bottom: 1.25rem;
  p {
    margin-bottom: 1.25rem;
  }
}

.cta {

}
