// //////////////////////////////////////////////////////////// General & Themes
.textBlock {
  position: relative;
}

// ///////////////////////////////////////////////////////////////////// Formats
// .format__medium {
//   .description {
//     padding-right: 10rem;
//   }
// }

// ///////////////////////////////////////////////////////////////////// Content
.label-text {
  @include fontSize_Small;
  @include fontWeight_Semibold;
}

.label {
  margin-bottom: 1.25rem;
}

.heading,
.description {
  margin-bottom: 1.25rem;
  p {
    margin-bottom: 1.25rem;
  }
  a {
    border-bottom: 0.03125rem solid;
    padding-bottom: 0.1875rem;
    transition: all 0.3s ease;
  }
}

.subheading {
  margin-bottom: 0.5rem;
  @include fontSize_Medium;
  @include fontWeight_Semibold;
}

.description {
  @include fontSize_Regular;
  a {
    &:hover {
      border-bottom-color: $cerise;
    }
  }
}

.cta2 {
  margin-left: 1rem;
}
