.account-container {
  max-width: 61.125rem;
  margin: auto;

  h3 {
    padding: 0 1.75rem 0.75rem;
  }
}

.account-content {
  display: grid;
  width: 100%;
  grid-template-areas:
    'storage-manager storage-manager upload-cta'
    'tokens-cta docs-cta upload-cta'
    'files-manager files-manager files-manager';

  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.6875rem 0.9375rem;

  .account {
    &-storage-manager {
      grid-area: storage-manager;
    }
    &-upload-cta {
      grid-area: upload-cta;
      overflow: hidden;
      position: relative;
      border: none;
      color: $black;
      justify-content: start;

      h4 {
        padding-bottom: 0.5rem;
      }
    }
    &-tokens-cta {
      grid-area: tokens-cta;
    }
    &-docs-cta {
      grid-area: docs-cta;
    }
    &-files-manager {
      grid-area: files-manager;
      min-height: 17.125rem;
    }
  }
}

.account-gradient-background {
  background: $white;
  position: absolute;
  min-width: 36.625rem;
  left: -25%;
  top: -25%;
  z-index: -1;
}
