@use 'sass:math';

// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------

#about_section_1 {
  position: relative;
  z-index: 1;
  padding-bottom: 3rem;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + $navigationHeight);
    top: calc(-1 * $navigationHeight);
    left: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -10rem;
    background-image: url('/images/about/about-holographic-bg.png');
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3.5rem;
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1383' height='420.945' viewBox='0 0 1383 420.945'%3e%3cpath id='Intersection_1' data-name='Intersection 1' d='M.5,434.5V181.941c16.49-6.406,437.4-168.386,838.391-168.386,201.1,0,397.2,40.741,544.609,82.164V434.5Z' transform='translate(-0.5 -13.555)' fill='%2303040a'/%3e%3c/svg%3e ");
  }
}

#about_section_2 {
  position: relative;
  z-index: 1;
  background-color: $ebony;
  color: white;
  padding-top: 7.625rem;
}

#about_section_3 {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 10rem;
    transform: translateY(-100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1365' height='172.072' viewBox='0 0 1365 172.072'%3e%3cpath id='Subtraction_1' data-name='Subtraction 1' d='M1365.5,1490.379H.5V1318.307c2.18,1.03,14.117,6.583,35.282,14.638,11.943,4.545,24.781,9.111,38.157,13.571,16.412,5.472,33.757,10.822,51.551,15.9,44.637,12.743,92.561,23.944,142.44,33.292,29.392,5.508,59.829,10.432,90.465,14.635,33.579,4.607,68.238,8.462,103.013,11.458,23.225,2,46.631,3.5,69.567,4.453,21.313.886,43.042,1.336,64.586,1.336,34.14,0,69.483-1.111,108.051-3.4,35.709-2.115,71.444-5.084,100.157-7.47l4.085-.339.018,0c31.282-2.6,63.629-5.288,95.834-7.255,17.318-1.057,33.294-1.833,48.84-2.372,17.419-.6,33.881-.9,50.327-.9,32.485,0,63.635,1.157,95.23,3.537,16.949,1.277,34.216,2.934,51.319,4.926,17.863,2.08,36.168,4.6,54.408,7.478,29.029,4.588,57.861,10.31,85.7,17.008,25.788,6.206,51.349,13.4,75.973,21.383v30.184h0Z' transform='translate(-0.5 -1318.307)' fill='%23f1f1f1'/%3e%3c/svg%3e ");
  }
}

// /////////////////////////////////////////////////////////////// [Subsections]
// -----------------------------------------------------------------------------

// -------------------------------------------------------------- Section [Hero]
#about_hero-header {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 11rem;
  z-index: 1;
  .heading {
    @include h1;
    line-height: leading(55, 45);
  }
  .subheading {
    @include fontSize_Regular;
    @include fontWeight_Regular;
    line-height: leading(34, 20);
    margin-bottom: 1.25rem;
  }
}

#about_hero-cluster {
  position: absolute;
  left: 0;
  top: 2rem;
  width: 27.125rem;
  left: calc(50% - #{math.div($containerWidth, 2)} - 2.5rem);
  @include containerMaxMQ {
    left: 0;
  }
}
// ------------------------------------------------------ Section [Architecture]
#section_architecture-1 {
  position: relative;
  .text-block {
    position: relative;
  }
  .image-block {
    margin: 2.5rem 0;
  }
}

#about_section_architecture-corkscrew {
  position: absolute;
  width: 32rem;
  top: -12rem;
  right: -2rem;
  transform: rotate(29deg);
}

#architecture-blurred-background {
  position: absolute;
  top: 0;
  width: 2112px;
  margin: auto;
  left: -9999px;
  right: -9999px;
  transform: translate(-7rem, -5rem) rotate(6deg);
  opacity: 0.25;
  filter: blur(40px);
}

#section_architecture-2 {
  position: relative;
  z-index: 1;
  padding-bottom: 8rem;
  .text-block {
    .heading {
      @include fontSize_MediumLarge;
      line-height: leading(40, 25);
    }
  }
  .image-block {
    margin-bottom: 1rem;
  }
}

#section_architecture-2-helix {
  position: absolute;
  width: 13.25rem;
  top: -5rem;
  left: 3rem;
  transform: rotate(-79deg);
}

#section_architecture-2-cross {
  position: absolute;
  width: 3rem;
  top: 2rem;
  right: calc(50% - #{math.div($containerWidth, 2)});
  @include containerMaxMQ {
    right: 0;
  }
}

#section_architecture-image-files {
  width: calc(100% + 5rem);
  transform: translateX(-5rem);
}

#section_architecture-image-upload,
#section_architecture-image-storage {
  position: relative;
  margin-left: auto;
  width: 80%;
  right: 0;
}

// ------------------------------------------------------ Section [How it Works]
#section_how-it-works {
  padding-top: 3rem;
  padding-bottom: 4rem;
  .how-it-works-highlight {
    color: #3c3cd6;
    @include fontWeight_Semibold;
  }
  .column-2 {
    .heading {
      @include gradient_Text;
    }
  }
}

#how-it-works-accordion {
  padding: 0;
}
