#faq_section-main {
  position: relative;
  z-index: 1;
  padding-top: 6.5rem;
  padding-bottom: 20rem;
  @include tiny {
    padding-bottom: 8rem;
  }
  .accordion-block {
    a {
      color: #3c3cd6;
      @include fontWeight_Semibold;
    }
  }
}
