// ///////////////////////////////////////////////////// General [Page Sections]
// -----------------------------------------------------------------------------
.page-pricing {
  position: relative;
}

#pricing_section_1,
#pricing_section_3 {
  position: relative;
  z-index: 5;
  background-color: $ebony;
}

#pricing_section_2 {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0rem;
    left: -20%;
    width: 220%;
    height: 220%;
    transform: translateY(-42rem) rotate(-50deg);
    transform-origin: center;
    background-size: 100%;
    background-image: url('/images/index/holographic-bg.png');
    z-index: -1;
  }
}

#pricing_section_3 {
  &:before {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
    transform: translateY(-100%);
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1636.34' height='122.322' viewBox='0 0 1636.34 122.322'%3e%3cdefs%3e%3cclipPath id='clip-path'%3e%3crect width='1636.34' height='122.322' fill='none'/%3e%3c/clipPath%3e%3c/defs%3e%3cg id='Scroll_Group_1' data-name='Scroll Group 1' clip-path='url(%23clip-path)' style='isolation: isolate'%3e%3cg id='Group_1914' data-name='Group 1914'%3e%3cpath id='Path_18835' data-name='Path 18835' d='M-16101,11198.438v1055.932s338.735-28.635,512.177,140.625,36.063,416.637,329.8,625.462,792.163,107.167,792.163,107.167l2.2-1929.186s-388.361-117.4-797.447-117.4S-16101,11198.438-16101,11198.438Z' transform='translate(16101 -11081.04)' fill='%2303040a'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: 1px;
    background-size: 100%;
    transform: translateY(100%);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1366' height='296' viewBox='0 0 1366 296'%3e%3cdefs%3e%3cclipPath id='clip-path'%3e%3crect id='Rectangle_2597' data-name='Rectangle 2597' width='1366' height='296' transform='translate(-20933 15797)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3e%3c/clipPath%3e%3cclipPath id='clip-path-2'%3e%3crect y='80' width='1554.34' height='1447.493' fill='none'/%3e%3c/clipPath%3e%3c/defs%3e%3cg id='Mask_Group_126' data-name='Mask Group 126' transform='translate(20933 -15797)' clip-path='url(%23clip-path)'%3e%3cg id='Scroll_Group_2' data-name='Scroll Group 2' transform='translate(-20933 14511.75)' clip-path='url(%23clip-path-2)' style='isolation: isolate'%3e%3cg id='Group_3560' data-name='Group 3560'%3e%3cg id='Group_216' data-name='Group 216' transform='translate(0)'%3e%3cpath id='Path_18835' data-name='Path 18835' d='M-16101,11212.919v1186.19s160.447,77.8,461.408,103.734,448.69-46.42,742.424,0,432.508,185.69,432.508,185.69V11212.919s-388.361-131.878-797.447-131.878S-16101,11212.919-16101,11212.919Z' transform='translate(16101 -11081.041)' fill='%2303040a'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
  }
}

#pricing_section_4 {
  position: relative;
  padding-top: 12rem;
  z-index: 4;
  background-color: $seaShell;
}

// /////////////////////////////////////////////////////////////// [Subsections]
// -----------------------------------------------------------------------------

// -------------------------------------------------------------- Section [Hero]
#pricing_hero_header {
  .text-block {
    color: white;
  }

  &:after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    z-index: -1;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1845.701' height='242.942' viewBox='0 0 1845.701 242.942'%3e%3cdefs%3e%3cclipPath id='clip-path'%3e%3crect y='659' width='1845.701' height='242.942' fill='none'/%3e%3c/clipPath%3e%3c/defs%3e%3cg id='Scroll_Group_1' data-name='Scroll Group 1' transform='translate(0 -659)' clip-path='url(%23clip-path)' style='isolation: isolate'%3e%3cpath id='Path_19292' data-name='Path 19292' d='M-21173,9737.463s429.527-45.37,890.953,1,781.068,131.782,954.748,184.479V9050H-21173Z' transform='translate(21173 -9050)' fill='%2303040a'/%3e%3c/g%3e%3c/svg%3e");
  }
}

#pricing_hero-cross {
  position: absolute;
  z-index: 1;
  width: 3rem;
  left: 8rem;
  bottom: -3rem;
}

// ------------------------------------------------------------- Section [Tiers]
#section_tiers,
#section_tiers-cards {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    width: calc(84% - 4rem);
    height: 100%;
    top: 0;
    left: calc(8% + 2rem);
    opacity: 0.15;
    background-color: $waterloo;
  }
}

#section_tiers {
  margin-top: 10.25rem;
  padding-top: 4.25rem;
  &:before {
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 1px -3px 6px -2px rgba(0, 0, 0, 0.16);
  }
}

#section_tiers-cards {
  margin-bottom: 10.25rem;
  &:before {
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.16);
  }
}

#section_tiers-triangle {
  position: absolute;
  width: 4.875rem;
  top: -2rem;
  right: 11rem;
  transform: scaleX(-1) rotate(-90deg);
}
