.tabs-container {
  .tabs {
    padding-left: 0 !important;
    li {
      padding-left: toRem(10) !important;
      &:after {
        height: 5px;
        width: 0;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 9px;
        transition: 250ms ease;
        background: linear-gradient(
          65deg,
          $cerise 0%,
          $cerise 5%,
          $royalBlue 16%,
          $pictonBlue 33%,
          $cerise 50%,
          $royalBlue 67%,
          $pictonBlue 83%,
          $cerise 95%,
          $cerise 100%
        );
        background-size: 300%;
        background-position: -50% 0;
      }
    }
    .tabs__item {
      position: relative;
      margin-right: toRem(50);
      display: inline-block;
      padding: toRem(10);
      font-weight: 600;
      cursor: pointer;
      &:hover {
        &:after {
          width: 100%;
        }
      }
      &--active {
        &:after {
          width: 100%;
          background-position: 0% 0;
        }
      }
    }
  }
  .tabs__content {
    margin-top: 2rem;

    .tab-panel {
      animation: tabFadeIn 600ms;
    }
  }
}

@keyframes tabFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
