@import 'sidebar/sidebar';
@import 'feedback/feedback';
@import 'toc/toc';
@import 'swagger-ui';
@import 'docspagination/docspagination';

.docs-site {
  background-image: url('/images/illustrations/corkscrewBlurred.jpg');
  background-repeat: repeat;
  background-size: cover;
  word-break: break-word;

  #navigation {
    word-break: normal;
  }

  #footer_squiggle {
    width: 25rem;
    left: -6.5rem;
    top: 5rem;
    @include large {
      left: -12.5rem;
    }
    @include small {
      width: 33.125rem;
      top: calc(50% + 2rem);
      left: -20rem;
    }
  }

  &.overflow-hidden {
    overflow: hidden;
  }
  // very top nav
  .docs-site {
    .nav-item[href='/docs/'] {
      height: 120%;
      &:after {
        opacity: 1;
      }
    }
  }

  .docs-container {
    display: flex;
    letter-spacing: 0;
    width: 100%;
    flex: 1 1;
    height: 100%;
    position: relative;

    &:before {
      background-image: url('/images/illustrations/triangle1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 72px;
      right: 2rem;
      top: -2.5rem;
      width: 72px;
      content: '';
      position: absolute;

      @include medium {
        display: none;
      }
    }

    .docs-body-container {
      flex: 1;
      display: flex;
      background-color: hsla(0, 0%, 95%, 0.6);
      border-radius: 0.375rem;
      box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
      padding: 6.125vw 1.5vw 6.125vw 6.75vw;
      width: 100%;
      max-width: 100%;
      position: relative;

      @include medium {
        flex-direction: column-reverse;
        padding: 0 1rem 2rem 1rem;
        background-color: transparent;
        box-shadow: none;
      }

      main {
        padding-right: toRem(30);
        @include medium {
          padding-right: 0;
        }
      }

      ul,
      ol {
        padding-left: 1.625rem;
        li {
          padding-left: 0.5rem;
        }
        ul {
         list-style-type: square; 
        }
        ul,
        ol {
          ul {
            list-style-type: circle;
          }
        }
      }

      ul {
        list-style-type: "\2042";
        li {
          padding-left: 1.25rem;
        }
      }

      .docs-body {
        a {
          color: $docsPrimaryPurple;
          font-weight: 600;
          border-bottom: 0.125rem solid rgba($moonRaker, 0);
          padding-bottom: 0.1875rem;
          transition: all 0.25s ease;
          &:hover {
            color: $cerise;
          }
        }
        h1 a, h2 a, h3 a, h4 a, h5 a {
          color: $ebony;
          border-bottom: none;
          padding-bottom: 0;
        }
        .accordion-block {
          margin-left: 2rem;
          .accordion-header-text {
            margin-left: 0.875rem;
          }
          .accordion-content {
            margin-left: 2rem;
          }
        }
      }
    }

    table {
      margin-bottom: 2rem;
      tr {
        text-align: left;
        border-top: 1px solid rgb(204, 204, 204);
        td,
        th {
          border: 1px solid #dbdada;
          padding: 0 10px;
        }
        th:empty {
          border: 0;
        }
      }
    }

    // blockquote
    blockquote {
      padding-left: toRem(43);
      @include fontSize_Medium;
      position: relative;
      margin: 2.5rem 0;
      p {
        color: $ebony;
        font-style: normal;
      }
      &:before {
        content: '';
        border-radius: 10px;
        width: 5px;
        @include gradient_Background_PinkBlue_Reverse;
        height: 100%;
        position: absolute;
        left: toRem(-3);
      }
    }
    strong,
    b {
      font-weight: 600;
    }
    h1 {
      margin-bottom: toRem(42);
    }
    p {
      margin-bottom: 1rem;
    }
    p + p {
      margin-top: 2.5rem;
    }
    pre {
      margin-bottom: 2.5rem;
    }
    h2 {
      font-size: toRem(30);
      margin-bottom: toRem(24);
      line-height: toRem(34);
      margin-top: toRem(80);
    }
    h3 {
      margin-bottom: toRem(20);
      font-size: toRem(18);
      line-height: toRem(34);
      @include fontWeight_Semibold;
      margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
    }
    h4 {
      @include fontSize_Medium;
    }
    h5 {
      font-size: toRem(16);
      line-height: toRem(34);
      margin-bottom: 1.7rem;
    }
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      position: relative;
      &:hover {
        .code-copy-button {
          opacity: 0.75;
          transform: scale(1.5)
        }
      }
      .code-copy-button {
        position: absolute;
        opacity: 0;
        top: 1rem;
        right: 1rem;
        width: 12px;
        height: 14px;
        transition: 200ms ease;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='14'%3e%3cpath data-name='copy-frame' d='M7.682.126 7.552 0h-3a1.518 1.518 0 0 0-1.516 1.518V2.6H1.518A1.518 1.518 0 0 0 0 4.121v8.242a1.518 1.518 0 0 0 1.518 1.518h5.639a1.518 1.518 0 0 0 1.518-1.518v-1.085h1.518a1.518 1.518 0 0 0 1.519-1.518v-5.6l-.126-.13Zm.126 1.353L10.233 3.9H8.459a.651.651 0 0 1-.651-.651Zm0 9.8v1.084a.651.651 0 0 1-.651.651H1.518a.651.651 0 0 1-.651-.651V4.121a.651.651 0 0 1 .651-.651H3.9v2.386a1.518 1.518 0 0 0 1.522 1.518h2.386ZM4.772 5.856V4.082L7.2 6.507H5.422a.651.651 0 0 1-.65-.651Zm6.073 3.9a.651.651 0 0 1-.651.651H8.676V6.763l-.126-.13-3.9-3.9-.134-.133H3.9V1.518a.651.651 0 0 1 .655-.65h2.386v2.385a1.518 1.518 0 0 0 1.518 1.518h2.386Z' fill='white' /%3e%3c/svg%3e");
        background-repeat: no-repeat;
        transform: scale(1.2);
        &:active, 
        &:focus {
          transform: scale(2);
          opacity: 0.25;
        }
      }
    }
    code {
      @include monospace_Text;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0 0.375rem;
      margin: 0 0.125rem;
      border: 1px solid $gray400;
      @include borderRadius_Small;
      box-shadow: inset -2px -3px 15px $gray300;
    }
    pre code {
      @include monospace_Text;
      background-color: $steelGray;
      border-radius: 0.4rem;
      display: inline-block;
      min-width: 100%;
      color: white;
      padding: 1rem;
      padding-right: 2.25rem;
      font-size: .875rem;
      line-height: 1.25rem;
      box-shadow: none;
      border: none;
      margin: 0;
    }
    a {
      color: $docsPrimaryPurple;
      font-weight: 600;
      border-bottom: none;
      padding-bottom: 0;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a {
      color: $ebony;
    }
    img {
      max-width: 100%;
    }
  }
  // overwrite for algolia search
  .DocSearch-NoResults-Prefill-List li {
    list-style-position: inherit;
    list-style-type: "»    ";
    line-height: 1;
    .DocSearch-Prefill {
      text-align: left;
      line-height: 1.4;
    }
  }
}
