@import 'sidebar/sidebar';
@import 'feedback/feedback';
@import 'toc/toc';
@import 'swagger-ui';
@import 'docspagination/docspagination';

.docs-site {
  background-image: url('../../assets/images/corkscrewBlurred.jpg');
  background-repeat: repeat;
  background-size: cover;
  word-break: break-word;

  #footer_squiggle {
    width: 25rem;
    left: -6.5rem;
    top: 5rem;
    @include large {
      left: -12.5rem;
    }
    @include small {
      width: 33.125rem;
      top: calc(50% + 2rem);
      left: -20rem;
    }
  }

  &.overflow-hidden {
    overflow: hidden;
  }
  // very top nav
  .docs-site {
    .nav-item[href='/docs/'] {
      transform: translateY(-0.5rem);
      &:after {
        opacity: 1;
      }
    }
  }

  .docs-container {
    display: flex;
    letter-spacing: 0;
    width: 100%;
    flex: 1 1;
    height: 100%;
    position: relative;

    &:before {
      background-image: url('../../assets/images/triangle1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 72px;
      right: 2rem;
      top: -2.5rem;
      width: 72px;
      content: '';
      position: absolute;

      @include medium {
        display: none;
      }
    }

    .docs-body-container {
      flex: 1;
      display: flex;
      background-color: hsla(0,0%,95%,.6);
      border-radius: 0.375rem;
      box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
      padding: 6.125vw 1.5vw 6.125vw 6.75vw;
      width: 100%;
      max-width: 100%;
      position: relative;

      @include medium {
        flex-direction: column-reverse;
        padding: 2rem;
        background-color: transparent;
        box-shadow: none;
      }

      main {
        padding-right: toRem(30);
        @include medium {
          padding-right: 0;
        }
      }
    }
  }
}
