$cta-card-padding-top: 4.5rem;

.cta-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $cta-card-padding-top;
  padding-bottom: 1.6875rem;
  align-items: baseline;

  @include medium {
    padding: 3.3046875rem 2.25rem;
  }

  > * {
    position: relative;
  }

  span {
    padding-top: 0.5625rem;
    padding-bottom: 1.40625rem;
    @include label_4;
  }
}

.cta-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.84375rem;
  @include medium {
    flex-wrap: wrap;
  }
  .button {
    &:not(:only-child) {
      flex: 1;
    }
  }
  button {
    padding: 0 1.125rem;
    align-items: center;
  }
}
