$cta-card-padding-top: 4rem;

.cta-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $cta-card-padding-top;
  padding-bottom: 1.5rem;
  align-items: baseline;

  @include medium {
    padding: 2.95rem 2rem;
  }

  > * {
    position: relative;
  }

  span {
    padding-top: 0.5rem;
    padding-bottom: 1.25rem;
    @include label_4;
  }
}

.cta-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.75rem;
  flex-wrap: wrap;
  .button {
    &:not(:only-child) {
      flex: 1;
    }
  }

  button {
    padding: 0 1rem;
    align-items: center;
  }
}
