@use 'sass:math';

.blog-single-post {
  > .grid {
    width: toRem(814);
  }
  padding-top: toRem(70) !important;
  img {
    max-width: 100%;
  }
  .post-heading {
    padding-left: toRem(83);
    padding-right: toRem(83);
    text-align: center;
    @include large {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
    .post-author {
      padding-top: toRem(15);
      padding-bottom: toRem(30);
      font-size: toRem(18);
      @include fontWeight_Medium;
      @include leading_Small;
    }
  }
  .post-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: toRem(37);
    padding-top: toRem(20);
    @include small {
      flex-direction: column;
    }
    .post-meta-date {
      flex: 1;
      @include fontSize_Small;
      @include fontWeight_Semibold;
    }
    .post-meta-tags {
      padding-right: toRem(30);
      font-size: toRem(15);
      @include fontWeight_Medium;
    }
  }
  .post-pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.5rem toRem(113) 2.5rem;
    .post-prev,
    .post-next {
      background-color: unset;
      padding: 0;
      .button-contents {
        color: $ebony;
        @include fontWeight_Semibold;
        @include fontSize_Mini;
        padding: 0;
      }
      &:after {
        content: '➔';
        position: absolute;
        top: calc(50%);
        transform: translate(0, -50%);
        color: $ebony;
        transition: inherit;
      }
    }
    .post-next {
      &:after {
        right: -1.5rem;
      }
      &:hover {
        &:after {
          transform: translate(0.75rem, -50%);
        }
      }
    }
    .post-prev {
      &:after {
        left: -1.5rem;
        transform: rotate(180deg);
      }
      &:hover {
        &:after {
          transform: rotate(180deg) translate(0.75rem, -50%);
        }
      }
    }
  }
  .post-social {
    flex: 1;
    > * {
      cursor: pointer;
    }
    a {
      padding-right: toRem(20);
    }
  }
  .post-footer {
    padding-bottom: toRem(70);
  }
  .caption {
    font-style: italic;
    font-size: toRem(15);
  }
  .post-related {
    padding-bottom: 4rem !important;
  }
  .post-meta-category {
    display: flex;
    align-items: center;
    height: toRem(35);
    min-width: toRem(129);
    justify-content: center;
    font-size: toRem(15);
    border-radius: toRem(5);
    border: toRem(2) solid $black;
    width: fit-content;
    @include fontWeight_Semibold;
    @include small {
      margin-top: 0.5rem;
    }
  }
}

// floating illustrations
#blog-article_section_1 {
  position: relative;
  width: 100vw;
  height: 0;
  top: 0;
}
#blog-article_hero-helix {
  width: 18rem;
  top: -10rem;
  transform: rotate(-79deg);
  z-index: -1;
  left: calc(50% - #{math.div($containerWidth, 2)} - 23rem);
  @include large {
    left: calc(50% - #{math.div($containerWidth, 2)} - 17rem);
  }
  @include medium {
    left: calc(50% - #{math.div($containerWidth, 2)} - 13rem);
  }
  @include small {
    width: toRem(66);
    top: -7rem;
    left: -3.7rem;
  }
}
#blog-article_hero-coil {
  position: absolute;
  width: toRem(50);
  left: calc(50% - #{math.div($containerWidth, 2)} + 12rem);
  top: 32rem;
  transform: rotate(30deg);
  @include small {
    display: none;
  }
}
#blog-article_hero-cross {
  position: absolute;
  z-index: -1;
  width: 3rem;
  top: 60rem;
  left: calc(50% - #{math.div($containerWidth, 2)} - 10rem);
  @include large {
    left: calc(50% - #{math.div($containerWidth, 2)} - 5rem);
  }
  @include medium {
    left: -2.5rem;
  }
}
#blog-article_hero-ring {
  width: toRem(430);
  right: 0;
  top: -19rem;
  z-index: -1;
  transform: translate(321px, 321px) rotate(200deg);
  right: calc(50% - #{math.div($containerWidth, 2)} - 13rem);
  @include xlarge {
    right: calc(50% - #{math.div($containerWidth, 2)});
  }
  @include small {
    width: toRem(240);
    right: -15rem;
    top: 1rem;
  }
}
