.button {
  cursor: pointer;
  display: inline-block;

  // flex-direction: column;
  // justify-content: center;

  &[disabled] {
    cursor: default;
  }

  button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:active, &:hover, &:focus {
      background: transparent;
    }
  }

  &.dark {
    background-color: $ebony;
    border-radius: 1.5rem;
    button {
      color: white;
      @include fontSize_Tiny;
      @include fontWeight_Semibold;
      text-transform: uppercase;
      padding: 0.25rem 1.25rem;
      line-height: leading(22, 13);
    }
  }

  &.light {
    border: 1px solid transparent;
    background: #fff;

    button {
      color: #171691;
    }
  }

  &.purple {
    border: 2px solid #171691;
    background: transparent;

    button {
      color: #171691;
    }
  }
}
